<details is="menu-details">
  <summary class="drawer__menu-item block text-2xl font-bold leading-none tracking-tight cursor-pointer relative" aria-expanded="false">
    {{- link.title | escape -}}
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15" fill="none">
      <path d="M5 1.5L10.5 7.5L5 13.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </summary>
  <div class="drawer__submenu drawer__submenu-1 z-1 absolute top-0 left-0 flex flex-col w-full h-full" data-parent>
    <button type="button" class="tracking-tight text-base font-bold shrink-0 flex items-center gap-3 w-full">
      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
        <g opacity="0.3"><path d="M9 1L3.5 7L9 13" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g>
      </svg>
      {{ link.title | escape }}
    </button>
      {% assign show_product = false %}
    
      {% assign link_title = link.title | downcase | handleize  %}
      {% if link_title == 'ebikes' or link_title == 'equipments' %}
          {% assign show_product = true %}
      {% endif %}
     
    <ul class="drawer__scrollable submenu-1_ul flex flex-col h-full">
      {%- for childlink in link.links -%}
             {% assign collection_url = '' %}
            {% if childlink.url contains 'collections'  %}
             {% assign collection_url = childlink.url | split: 'collections/' | last %}
            {% endif %}
            <li class="submenu-1_li" {% if forloop.first %}class="active-list"{% endif %} data-name="{% if collection_url != blank %}{{ collection_url }}{% else %}#{% endif %}">
            {%- if block.settings.show_menu_image %}
                  {% comment %}
                  {% if childlink.type == 'collection_link' and childlink.object.image != blank -%}
                  <a href="{% if childlink.url contains 'collections/' %}javascript:void(0);{% else %}{{ childlink.url }}{% endif %}" class="media media--wide block relative overflow-hidden">
                    {{- childlink.object.image | image_url: width: childlink.object.image.width | image_tag: loading: 'lazy', widths: '180,360,540,720,900,1080', is: 'lazy-image' -}}
                  </a>
                  
                 {% if childlink.url contains 'collections/' %}
                    {%- render 'icon', icon: 'arrow-right', size: 'lg', class: 'transform' -%}
                   {% endif %}
                    {% else %}
                  {% endcomment %}
                
                  {% assign childlink_handle = childlink.handle  | append: '.png'  %}
                  <a href="javascript:void(0);" class="media media--wide block relative">
                   <img src="{{ childlink_handle | file_img_url }}">
                  </a>
                
                {%- endif -%}
           
                 {% if childlink.links != blank %}
                  <details is="menu-details">
                      <summary class="drawer__menu-item block text-2xl font-bold leading-none tracking-tight cursor-pointer relative" aria-expanded="false">
                        {{- childlink.title | escape -}}
                      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                        <path d="M5 1L10.5 7L5 13" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                      </summary>
                      
                      <div class="drawer__submenu drawer__submenu-2 z-1 absolute top-0 left-0 w-full h-full">
                        <button type="button" class="tracking-tight text-base font-bold flex items-center gap-3 w-full"> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                          <g opacity="0.3"><path d="M9 1L3.5 7L9 13" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g>
                        </svg>{{ childlink.title | escape }}</button>
                        <ul class="drawer__scrollable submenu-2_ul flex flex-col h-full">
                          {%- for grandchildlink in childlink.links -%}
                            <li class="submenu-2_li">
                            <a class="drawer__menu-item block text-2xl font-bold leading-none tracking-tight" href="{{ grandchildlink.url }}">{{ grandchildlink.title | escape }}</a>
                            {% if grandchildlink.url contains 'collections/' %}
                              {% comment %}{%- render 'icon', icon: 'arrow-right', size: 'lg', class: 'transform' -%}{% endcomment %}
                              <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="16" height="14" viewBox="0 0 16 14" fill="none">
                                <path d="M9.5 1.50977L15 7.00977L9.5 12.5098M1 7.00977H14.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                              </svg>
                              {% endif %}
                            </li>
                          {%- endfor -%}
                        </ul>
                      </div>
                  </details>
                {%- else -%}
                   {%- if show_product and  childlink.url contains 'collections'   %}
                    <details is="menu-details">
                    <summary class="drawer__menu-item block text-2xl font-bold leading-none tracking-tight cursor-pointer relative" aria-expanded="false">
                      {{- childlink.title | escape -}}
                    {% if childlink.url contains 'collections/' %}
                    {% comment %}{%- render 'icon', icon: 'arrow-right', size: 'lg', class: 'transform' -%}{% endcomment %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                    <path d="M5 1L10.5 7L5 13" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    {% endif %}
                    </summary>
                    <div class="drawer__submenu drawer__submenu-2  z-1 absolute top-0 left-0 w-full h-full">
                      <button type="button" class="tracking-tight text-base font-bold flex items-center gap-3 w-full">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                          <g opacity="0.3"><path d="M9 1L3.5 7L9 13" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g>
                        </svg>
                        {{ childlink.title | escape }}
                      </button>
                      <ul class="flex">
                       <div class="mobile-collections-list flex flex-col h-full grow shrink" id="menu-{{ forloop.index }}" {{ index }}>
                        {% assign collection_url = childlink.url | split: 'collections/' | last %}
                        {% assign products = collections[collection_url].products %}
                          {% if products.size > 0 %}
                            <div class="collection_url {{ collection_url }} relative grow overflow-hidden" id="{{ collection_url }}">
                              <div class="collection_wrapper drawer__scrollable relative w-full h-full">
                              {% for product in products %}
                                {% assign product_count = products.size %}
                                {% if forloop.index0 < 3 %}
                                  <a class="menu_product-card" href="{{ product.url }}">
                                    <div class="product-info">
                                    {%- assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}
                                    <div class="product_img-wrapper">{{- featured_media | image_url: width: featured_media.width | image_tag: size: '60x60' -}}</div>
                                    <div class="product_content">
                                      <div class="product-title">{{ product.title }}</div>
                                      <div class="product-price">
                                        <span class="regular-price">{{ product.price | money }}</span>
                                      </div>
                                      {% comment %}
                                      <div class="product-description">{% if product.metafields.my_fields.short_description != blank %}{{ product.metafields.my_fields.short_description }}{% else %}{{ product.descriptions | split : '.' | first }}{% endif %}</div>
                                      {% endcomment %}
                                    </div>
                                    </div>
                                  </a>
                                {% endif %}
                              {% endfor %}
                              </div>
                              <a href="{{ childlink.url }}" class="button button--secondary view-all_btn" is="hover-link">
                                <span class="btn-fill" data-fill></span>
                                <span class="btn-text">
                                  View All ({{ product_count }})
                                  <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="16" height="14" viewBox="0 0 16 14" fill="none">
                                    <path d="M9.5 1.10254L15 6.60254L9.5 12.1025M1 6.60254H14.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                  </svg>
                                </span>
                              </a>
                            </div>
                          {% endif %}
                        </div>  
                      </ul>
                    </div>
                    </details>
                {% else %}
                 <a class="drawer__menu-item block text-2xl font-bold leading-none tracking-tight" href="{% if childlink.url contains 'collections/' %}javascript:void(0);{% else %}{{ childlink.url }}{% endif %}">{{ childlink.title | escape }}</a>
                     {% if childlink.url contains 'collections/' %}
                    {% comment %}{%- render 'icon', icon: 'arrow-right', size: 'lg', class: 'transform' -%}{% endcomment %}
                     <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15" fill="none">
                    <path d="M5 1.5L10.5 7.5L5 13.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                 {% endif %}
              {% endif %}
          {% endif %}
        </li>
      {%- endfor -%}

      {%- if enable_mega_menu -%}
        {%- liquid
          assign show_promotions = false
          if block.settings.promo_image_1 != blank or block.settings.promo_image_2 != blank or block.settings.promo_image_3 != blank or block.settings.promo_image_4 != blank or block.settings.promo_image_5 != blank
            assign show_promotions = true
          endif
        -%}
      {%- endif -%}
      {%- if show_promotions -%}
        <li class="drawer__promotions">
          <ul class="mega-menu__list grid grid-cols-2 w-full h-full" role="list" tabindex="-1">
            {%- for i in (1..5) -%}
              {%- liquid
                assign promo_image = 'promo_image_' | append: i
                assign promo_image = block.settings[promo_image]
              -%}
              {%- if promo_image != blank -%}
                {%- liquid
                  assign promo_image_ratio = 'promo_image_ratio_' | append: i
                  assign promo_image_ratio = block.settings[promo_image_ratio]
    
                  assign promo_heading = 'promo_heading_' | append: i
                  assign promo_heading = block.settings[promo_heading]
    
                  assign promo_subtext = 'promo_subtext_' | append: i
                  assign promo_subtext = block.settings[promo_subtext]
    
                  assign promo_overlay_content = 'promo_overlay_content_' | append: i
                  assign promo_overlay_content = block.settings[promo_overlay_content]
    
                  assign promo_link = 'promo_link_' | append: i
                  assign promo_link = block.settings[promo_link]
  
                  assign promo_tag = 'promo_tag_' | append: i
                  assign promo_tag = block.settings[promo_tag]
    
                  assign promo_color_text = 'promo_color_text_' | append: i
                  assign promo_color_text = block.settings[promo_color_text]
    
                  assign promo_color_overlay = 'promo_color_overlay_' | append: i
                  assign promo_color_overlay = block.settings[promo_color_overlay]
    
                  assign promo_overlay_opacity = 'promo_overlay_opacity_' | append: i
                  assign promo_overlay_opacity = block.settings[promo_overlay_opacity]
                -%}
                <li class="mega-menu__item media-card media-card--{{ settings.card_style }}{% if promo_overlay_content %} media-card--overlap{% endif %} overflow-hidden opacity-0 w-full">
                  <a class="media-card__link grid w-full h-full relative"{% if promo_link != blank %} href="{{ promo_link }}"{% else %} role="link" aria-disabled="true"{% endif %}
                    style="--color-foreground: {{ promo_color_text.rgb }}; --color-overlay: {{ promo_color_overlay.rgb }}; --overlay-opacity: {{ promo_overlay_opacity | divided_by: 100.0 }};"
                  >
                    {%- if promo_tag != blank -%}
                      <div class="badges z-2 absolute grid gap-3 pointer-events-none">
                        <span class="badge badge--onsale flex items-center gap-1d5 font-medium leading-none rounded-full">{{ promo_tag | escape }}</span>
                      </div>
                    {%- endif -%}
                    <div class="media media--{{ promo_image_ratio }} relative overflow-hidden">
                      {{- promo_image | image_url: width: promo_image.width | image_tag: loading: 'lazy', widths: '180,360,540,720,900,1080', is: 'lazy-image' -}}
                    </div>
                    {%- if promo_heading != blank or promo_subtext != blank -%}
                      <div class="media-card__content flex justify-between items-center gap-4 w-full">
                        <div class="media-card__text opacity-0 shrink-1">
                          {%- if promo_heading != blank -%}
                            <span class="heading reversed-link text-lg font-bold tracking-tighter leading-none">{{ promo_heading | escape }}</span>
                          {%- endif -%}
                          {%- if promo_subtext != blank -%}
                            <p class="leading-none text-xs xl:text-sm hidden md:block">{{ promo_subtext }}</p>
                          {%- endif -%}
                        </div>
                        {%- render 'icon', icon: 'arrow-right', size: 'xs', class: 'transform shrink-0 hidden md:block' -%}
                      </div>
                    {%- endif -%}
                  </a>
                </li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        </li>
      {%- endif -%}
    </ul>
    {%- if block.settings.button_label != blank -%}
    <div class="mega-menu__item--footer">
      <div class="mega-menu__footer relative">
        <a class="flex items-center justify-between w-full h-full"{% if block.settings.button_link != blank %} href="{{ block.settings.button_link }}"{% else %} role="link" aria-disabled="true"{% endif %}>
          <span class="font-bold tracking-tight">{{ block.settings.button_label | escape }}</span>
          {%- comment -%}{%- render 'icon', icon: 'arrow-right', size: 'lg', class: 'transform' -%}{%- endcomment -%}
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="22" viewBox="0 0 26 22" fill="none">
            <path d="M15.5714 1.58105L25 11.0096L15.5714 20.4382M1 11.0096H24.1429" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
      </div>
    </div>
    {%- endif -%}
  </div>
</details>
 
