{%- comment -%}
  block
{%- endcomment -%}
{% if block.settings.use_icon_metafield !=blank and block.settings.use_spec_metafield !=blank %}
  {% assign pdcIcon = product.metafields.custom[block.settings.use_icon_metafield].value %}
  {% assign pdcSpec = product.metafields.custom[block.settings.use_spec_metafield].value %}
  {% if pdcIcon != blank or pdcSpec != blank  %}
  <ul class="product-media-introduce {{class}}">
    {% for icon in pdcIcon %}
      {% assign iconIndex = forloop.index0 %}
      {% for spec in pdcSpec %}
        {% if forloop.index0 == iconIndex %}
          {% assign firstPart = '' %}
          {% assign secondPart = '' %}
          {% if spec contains '--' %}
            {% assign firstPart = spec | split: '--' | first %}
            {% assign secondPart = spec | split: '--' | last %}
          {% else %}
             {% assign firstPart = spec  %}
          {% endif %}
          <li>
      		<img class="img_icon inline-block" src="{{ icon | img_url: 'master' }}" alt="{{icon.alt }}" width="{{ icon.width }}" height="{{ icon.height }}">
      		<div class="introduce-info"><div class="introduce-info_title">{{ firstPart }}</div><div class="introduce-info_remark">{{ secondPart }}</div></div>
      	</li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
  {% endif %}
{% else %}
  <ul class="product-media-introduce {{class}}">
  {%- for i in (1..6) -%}
  	{%- assign icon = 'icon_' | append: i -%}
  	{%- assign title = 'title_' | append: i -%}
  	{%- assign remark = 'remark_' | append: i -%}
  	<li>
  		<img class="img_icon inline-block" src="{{ block.settings[icon] | img_url: 'master' }}" alt="{{block.settings[icon].alt }}" width="{{ block.settings[icon].width }}" height="{{ block.settings[icon].height }}">
  		<div class="introduce-info"><div class="introduce-info_title">{{block.settings[title]}}</div><div class="introduce-info_remark">{{block.settings[remark]}}</div></div>
  	</li>
  {%- endfor -%}
  </ul>
{% endif %}
