{% comment %}
  Created by CLEARgo
{% endcomment %}

<style>
  #shopify-section-{{ section.id }} {
    {% if section.settings.bg_color != blank %}
      background-color: {{ section.settings.bg_color }}; 
    {% endif %}
  }

  #shopify-section-{{ section.id }} .features-with-video-container {
    max-width: 1440px; 
    margin: 0 auto; 
    padding: 72px 20px; 
  }

  #shopify-section-{{ section.id }} .section-header { 
    width: calc(640vw / 19.2); 
    margin: 0 auto calc(48vw / 19.2) auto; 
    text-align: center; 
  }

  #shopify-section-{{ section.id }} .section-heading { 
    margin-bottom: calc(24vw / 19.2); 
    line-height: normal; 
    font-size: calc(48vw / 19.2); 
  }

  #shopify-section-{{ section.id }} .section-desc { 
    font-size: calc(24vw / 19.2); 
  }

  #shopify-section-{{ section.id }} .feature-list {
    display: flex; 
    margin-bottom: calc(48vw / 19.2); 
    padding: 0 calc(16vw / 19.2); 
  }

  #shopify-section-{{ section.id }} .feature-list .feature { 
    padding: 0 calc(72vw / 19.2); 
    flex: 1; 
  }

  #shopify-section-{{ section.id }} .feature .feature-name { 
    margin-bottom: 16px; 
    padding: 16px 0; 
    font-size: calc(24vw / 19.2); 
  }

  #shopify-section-{{ section.id }} .feature .feature-desc {
    font-size: 1.25rem; 
  }

  #shopify-section-{{ section.id }} .media { 
    max-height: 680px; 
    border-radius: 16px; 
    margin: 0 auto; 
  }

  #shopify-section-{{ section.id }} .media.mobile {
    display: none; 
  }

  /* Responsive */
  /* Mobile */
  @media (max-width: 767px) {
    #shopify-section-{{ section.id }} .features-with-video-container { 
      display: flex; 
      flex-direction: column; 
      padding: 36px 0; 
    }

    #shopify-section-{{ section.id }} .media { 
      aspect-ratio: 9 / 16; 
      border-radius: 0; 
      margin: 0 0 36px 0; 
      object-fit: cover; 
      object-position: center; 
      order: 0; 
    }

    #shopify-section-{{ section.id }} .media.desktop { 
      display: none; 
    }

    #shopify-section-{{ section.id }} .media.mobile { 
      display: block; 
    }

    #shopify-section-{{ section.id }} .section-header { 
      width: 100%; 
      margin: 0; 
      /* padding: 0 20px; */
      padding: 0 12.5px; 
      text-align: left; 
      order: 1; 
    }

    #shopify-section-{{ section.id }} .section-heading { 
      margin-bottom: 16px; 
      font-size: 20px; 
    }

    #shopify-section-{{ section.id }} .section-desc {
      font-size: 14px; 
    }

    #shopify-section-{{ section.id }} .section-body {
      margin-bottom: 36px; 
      order: 2; 
    }

    #shopify-section-{{ section.id }} .feature-list {
      flex-direction: column; 
      gap: 24px; 
      margin-bottom: 0; 
      padding: 0; 
    }

    #shopify-section-{{ section.id }} .feature-list .feature {
      padding: 0 20px; 
    }

    #shopify-section-{{ section.id }} .feature .feature-name {
      font-size: 18px; 
    }

    #shopify-section-{{ section.id }} .feature .feature-desc {
      font-size: 14px; 
    }
  }

  /* Tablet */
  @media (min-width: 768px) and (max-width: 1366px) { 
    #shopify-section-{{ section.id }} .section-header {
      width: calc(640vw / 13.66); 
      margin: 0 auto calc(48vw / 13.66) auto; 
    }

    #shopify-section-{{ section.id }} .section-heading { 
      margin-bottom: calc(24vw / 13.66); 
      font-size: calc(48vw / 13.66); 
    }
    
    #shopify-section-{{ section.id }} .section-desc { 
      font-size: calc(24vw / 13.66); 
    }

    #shopify-section-{{ section.id }} .feature-list {
      margin-bottom: calc(48vw / 13.66); 
      padding: 0 calc(16vw / 13.66); 
    }

    #shopify-section-{{ section.id }} .feature-list .feature { 
      padding: 0 calc(72vw / 13.66); 
    }

    #shopify-section-{{ section.id }} .feature .feature-name {
      font-size: calc(24vw / 13.66); 
    }

    #shopify-section-{{ section.id }} .feature .feature-desc {
      font-size: calc(20vw / 13.66); 
    }
  }
  
  /* Desktop */
  @media (min-width: 1920px) { 
    #shopify-section-{{ section.id }} .section-header {
      width: 640px; 
      margin: 0 auto 48px auto; 
    }

    #shopify-section-{{ section.id }} .section-heading { 
      margin-bottom: 24px; 
      font-size: 48px; 
    }
    
    #shopify-section-{{ section.id }} .section-desc { 
      font-size: 24px; 
    }

    #shopify-section-{{ section.id }} .feature-list {
      margin-bottom: 48px; 
      padding: 0 16px; 
    }

    #shopify-section-{{ section.id }} .feature-list .feature { 
      padding: 0 72px; 
    }

    #shopify-section-{{ section.id }} .feature .feature-name {
      font-size: 24px; 
    }

    #shopify-section-{{ section.id }} .feature .feature-desc {
      font-size: 20px; 
    }
  }
</style>

<!-- View -->
<div class="features-with-video-container">
  <div class="section-header">
    {% if section.settings.section_heading != blank %}
      <h2 class="section-heading">{{ section.settings.section_heading }}</h2>
    {% endif %}
    {% if section.settings.section_desc != blank %}
      <div class="section-desc">{{ section.settings.section_desc }}</div>
    {% endif %}
  </div>
  <div class="section-body">
    {% if section.blocks.size > 0 %}
      <ul class="feature-list">
        {% for block in section.blocks %}
          <li class="feature feature-{{ forloop.index }}">
            <style>
              #shopify-section-{{ section.id }} .feature-{{ forloop.index }} .feature-name { 
                {% if block.settings.underline_color != blank %}
                  border-bottom: 1px solid {{ block.settings.underline_color }}; 
                {% endif %}
                {% if block.settings.name_font_color != blank %}
                  color: {{ block.settings.name_font_color }}; 
                {% endif %}
              }

              #shopify-section-{{ section.id }} .feature-{{ forloop.index }} .feature-desc {                 
                {% if block.settings.desc_font_color != blank %}
                  color: {{ block.settings.desc_font_color }}; 
                {% endif %}
              }
            </style>
            {% if block.settings.feature_name != blank %}
              <h3 class="feature-name">{{ block.settings.feature_name }}</h3>
            {% endif %}
            {% if block.settings.feature_desc != blank %}
              <div class="feature-desc">{{ block.settings.feature_desc }}</div>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
  {% if section.settings.section_video != blank %}
    {{ section.settings.section_video | video_tag: autoplay: true, loop: true, muted: true, controls: false, outline: false, controlList: nofullscreen, class: 'media desktop' }}
  {% endif %}
  {% if section.settings.section_video_mobile != blank %}
    {{ section.settings.section_video_mobile | video_tag: autoplay: true, loop: true, muted: true, controls: false, outline: false, controlList: nofullscreen, class: 'media mobile' }}
  {% elsif section.settings.section_video != blank %}
    {{ section.settings.section_video | video_tag: autoplay: true, loop: true, muted: true, controls: false, outline: false, controlList: nofullscreen, class: 'media mobile' }}
  {% endif %}
</div>

{% schema %}
  {
    "name": "CG Features with Video", 
    "tag": "section", 
    "class": "cg-features-with-video", 
    "settings": [ 
      {
        "type": "color", 
        "id": "bg_color", 
        "label": "Background color", 
        "default": "#FFFFFF"
      }, 
      {
        "type": "text", 
        "id": "section_heading", 
        "label": "Heading", 
        "default": "Smartly Secured"
      }, 
      {
        "type": "richtext", 
        "id": "section_desc", 
        "label": "Description"
      }, 
      {
        "type": "video", 
        "id": "section_video", 
        "label": "Video (Desktop)"
      }, 
      {
        "type": "video", 
        "id": "section_video_mobile", 
        "label": "Video (Mobile)"
      }
    ], 
    "blocks": [
      {
        "type": "feature", 
        "name": "Feature", 
        "settings": [
          { 
            "type": "text", 
            "id": "feature_name", 
            "label": "Feature name", 
            "default": "NFC card-enabled startup"
          }, 
          {
            "type": "color", 
            "id": "name_font_color", 
            "label": "Font color", 
            "default": "#0F0F0E"
          }, 
          {
            "type": "color", 
            "id": "underline_color", 
            "label": "Underline color", 
            "default": "#777776"
          }, 
          { 
            "type": "richtext", 
            "id": "feature_desc", 
            "label": "Feature description"
          }, 
          {
            "type": "color", 
            "id": "desc_font_color", 
            "label": "Font color", 
            "default": "#777776"
          }
        ]
      }
    ],
    "presets": [ 
      {
        "name": "CG Features with Video", 
        "blocks": [
          {
            "type": "feature"
          }, 
          {
            "type": "feature"
          }
        ]
      }
    ]
  }
{% endschema %}