{% comment %}
  Created by CLEARgo
{% endcomment %}

{% style %}
    #shopify-section-{{ section.id }} {
    {% if section.settings.section_bg != blank %}
        background-color: {{ section.settings.section_bg }};
    {% endif %}
    }

    #shopify-section-{{ section.id }} .info-with-counters-container {
    display: flex;
    flex-direction: column;
    }

    #shopify-section-{{ section.id }} .section-body {
    max-width: 1170px;
    /* max-width: 1440px;  */
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: calc(72vw / 19.2) 20px;
    }

    #shopify-section-{{ section.id }} .section-main {
    width: 50%;
    }

    #shopify-section-{{ section.id }} .section-subheading,
    #shopify-section-{{ section.id }} .section-desc p {
    font-size: calc(24vw / 19.2);
    }

    #shopify-section-{{ section.id }} .section-subheading {
    margin-bottom: calc(48vw / 19.2);
    }

    #shopify-section-{{ section.id }} .section-heading {
    margin-bottom: calc(72vw / 19.2);
    line-height: normal;
    font-size: 3rem;
    }

    #shopify-section-{{ section.id }} .section-desc p:not(:last-child) {
    margin-bottom: calc(20vw / 19.2);
    }

    #shopify-section-{{ section.id }} .counter-list {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: calc(40vw / 19.2);
    }

    #shopify-section-{{ section.id }} .counter {
    color: {{ section.settings.counter_font_color }};
    }

    #shopify-section-{{ section.id }} .counter .value {
    display: flex;
    margin-bottom: 12px;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    font-weight: 700;

    {% if section.settings.value_gradient != blank %}
        background: -webkit-{{ section.settings.value_gradient }};
    {% endif %}
    }

    #shopify-section-{{ section.id }} .section-banner.mobile {
    display: none;
    }

    /* Responsive */
    /* Mobile */
    @media (max-width: 767px) {
    #shopify-section-{{ section.id }} .info-with-counters-container {
    display: flex;
    flex-direction: column-reverse;
    }

    #shopify-section-{{ section.id }} .section-banner {
    aspect-ratio: 375 / 280;
    object-fit: cover;
    }

    #shopify-section-{{ section.id }} .section-body {
    flex-direction: column;
    padding: 36px 24px;
    }

    #shopify-section-{{ section.id }} .section-main,
    #shopify-section-{{ section.id }} .counter-list {
    width: 100%;
    }

    #shopify-section-{{ section.id }} .section-subheading {
    margin-bottom: 16px;
    font-size: 18px;
    }

    #shopify-section-{{ section.id }} .section-heading {
    margin-bottom: 24px;
    font-size: 24px;
    }

    #shopify-section-{{ section.id }} .section-desc {
    margin-bottom: 36px;
    }

    #shopify-section-{{ section.id }} .section-desc p {
    font-size: 14px;
    }

    #shopify-section-{{ section.id }} .section-desc p:not(:last-child) {
    margin-bottom: 20px;
    }

    #shopify-section-{{ section.id }} .counter-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    }

    #shopify-section-{{ section.id }} .counter .value {
    font-size: 32px;
    }

    #shopify-section-{{ section.id }} .counter .suffix {
    font-size: 14px;
    }

    #shopify-section-{{ section.id }} .section-banner.desktop {
    display: none;
    }

    #shopify-section-{{ section.id }} .section-banner.mobile {
    display: block;
    }
    }

    /* Tablet */
    @media (min-width: 768px) and (max-width: 1366px) {
    #shopify-section-{{ section.id }} .section-body {
    padding: calc(72vw / 13.66) 20px;
    }

    #shopify-section-{{ section.id }} .section-subheading,
    #shopify-section-{{ section.id }} .section-desc p {
    font-size: calc(24vw / 13.66);
    }

    #shopify-section-{{ section.id }} .section-subheading {
    margin-bottom: calc(48vw / 13.66);
    }

    #shopify-section-{{ section.id }} .section-heading {
    margin-bottom: calc(72vw / 13.66);
    }

    #shopify-section-{{ section.id }} .section-desc p:not(:last-child) {
    margin-bottom: calc(20vw / 13.66);
    }

    #shopify-section-{{ section.id }} .counter-list {
    gap: calc(40vw / 13.66);
    }
    }

    /* Desktop */
    @media (min-width: 1920px) {
    #shopify-section-{{ section.id }} .section-body {
    padding: 72px 20px;
    }

    #shopify-section-{{ section.id }} .section-subheading,
    #shopify-section-{{ section.id }} .section-desc p {
    font-size: 24px;
    }

    #shopify-section-{{ section.id }} .section-subheading {
    margin-bottom: 48px;
    }

    #shopify-section-{{ section.id }} .section-heading {
    margin-bottom: 72px;
    }

    #shopify-section-{{ section.id }} .section-desc p:not(:last-child) {
    margin-bottom: 20px;
    }

    #shopify-section-{{ section.id }} .counter-list {
    gap: 40px;
    }
    }
{% endstyle %}
{%- assign ss = section.settings -%}
<!-- View -->
<div class="info-with-counters-container">
    <div class="section-body">
        <div class="section-main">
            {% if section.settings.section_subheading != blank %}
                <p class="section-subheading">{{ section.settings.section_subheading }}</p>
            {% endif %}
            {% if section.settings.section_heading != blank %}
                <h2 class="section-heading">{{ section.settings.section_heading }}</h2>
            {% endif %}
            {% if section.settings.section_desc != blank %}
                <div class="section-desc">{{ section.settings.section_desc }}</div>
            {% endif %}
        </div>
        <ul class="counter-list">
            {% for block in section.blocks %}
                <li class="counter">
                    {% if block.settings.suffix != blank %}
                        <p class="prefix">{{ block.settings.prefix }}</p>
                    {% endif %}
                    {% if block.settings.counter_value != blank %}
                        <p class="value">
                            {{ block.settings.counter_value }}{% if block.settings.unit != blank %}<span
                                class="unit">{{ block.settings.unit }}</span>{% endif %}
                        </p>
                    {% endif %}
                    {% if block.settings.suffix != blank %}
                        <p class="suffix">{{ block.settings.suffix }}</p>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="section-banner w-full flex-center">
        {%- if ss.media_type == 'video' -%}
            {%- if ss.video != blank -%}
                {%- render 'video',
                    video: ss.video,
                    muted: true,
                    autoplay: true,
                    loop: true,
                    class: 'section-banner w-full desktop'
                -%}
            {%- endif -%}
            {%- assign mobile_video = ss.video_mobile | default: ss.video -%}
            {%- if mobile_video != blank -%}
                {%- render 'video',
                    video: mobile_video,
                    muted: true,
                    autoplay: true,
                    loop: true,
                    is_mobile: true,
                    class: 'section-banner w-full mobile'
                -%}
            {%- endif -%}
        {%- else -%}
            {% if section.settings.section_banner != blank %}
                <img class="section-banner desktop"
                     alt="{{ section.settings.section_banner.alt | default: 'Banner image' }}"
                     src="{{ section.settings.section_banner | img_url: 'master' }}"/>
            {% endif %}
            {% if section.settings.section_banner_mobile != blank %}
                <img class="section-banner mobile"
                     alt="{{ section.settings.section_banner_mobile.alt | default: 'Banner image' }}"
                     src="{{ section.settings.section_banner_mobile | img_url: 'master' }}"/>
            {% elsif section.settings.section_banner != blank %}
                <img class="section-banner mobile"
                     alt="{{ section.settings.section_banner.alt | default: 'Banner image' }}"
                     src="{{ section.settings.section_banner | img_url: 'master' }}"/>
            {% endif %}
        {%- endif -%}
    </div>
</div>
{% schema %}
  {
    "name": "CG Info with Counters",
    "tag": "section",
    "class": "cg-info-with-counters",
    "settings": [
      {
        "type": "color",
        "id": "section_bg",
        "label": "Background color",
        "default": "#F7F7F7"
      },
      {
        "type": "text",
        "id": "section_subheading",
        "label": "Subheading",
        "default": "Galaxy-sized Performance"
      },
      {
        "type": "text",
        "id": "section_heading",
        "label": "Heading",
        "default": "Ushering in a new era of electric bike performance"
      },
      {
        "type": "richtext",
        "id": "section_desc",
        "label": "Description"
      },
      {
        "type": "select",
        "id": "media_type",
        "label": "Media type",
        "options": [
          {
            "value": "image",
            "label": "Image"
          },
          {
            "value": "video",
            "label": "Video"
          }
        ],
        "default": "image"
      },
      {
        "type": "image_picker",
        "id": "section_banner",
        "label": "Banner (Desktop)",
        "visible_if": "{{ section.settings.media_type == 'image' }}"
      },
      {
        "type": "video",
        "id": "video",
        "label": "Video (Desktop)",
        "visible_if": "{{ section.settings.media_type == 'video' }}"
      },
      {
        "type": "image_picker",
        "id": "section_banner_mobile",
        "label": "Banner (Mobile)",
        "visible_if": "{{ section.settings.media_type == 'image' }}"
      },
      {
        "type": "video",
        "id": "video_mobile",
        "label": "Video (Mobile)",
        "visible_if": "{{ section.settings.media_type == 'video' }}"
      },
      {
        "type": "header",
        "content": "Counter"
      },
      {
        "type": "color_background",
        "id": "value_gradient",
        "label": "Value gradient"
      },
      {
        "type": "color",
        "id": "counter_font_color",
        "label": "Font color",
        "default": "#777776"
      }
    ],
    "blocks": [
      {
        "type": "counter",
        "name": "Counter",
        "settings": [
          {
            "type": "text",
            "id": "prefix",
            "label": "Prefix",
            "default": "Up to"
          },
          {
            "type": "text",
            "id": "counter_value",
            "label": "Value",
            "default": "1800"
          },
          {
            "type": "text",
            "id": "unit",
            "label": "Unit",
            "default": "W"
          },
          {
            "type": "text",
            "id": "suffix",
            "label": "Suffix",
            "default": "Mars 3.0 Peak Power with a torque output of 100N·m"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "CG Info with Counters",
        "blocks": [
          {
            "type": "counter"
          },
          {
            "type": "counter"
          }
        ]
      }
    ]
  }
{% endschema %}