
{% style %}
  #shopify-section-{{ section.id }} {
    background-color: var(--color-white); 
  }
  
  .section-{{ section.id }} {
    max-width: 1440px; 
    margin: 0 auto; 
    padding: 100px 20px; 
  }

  .section-{{ section.id }} .feature { 
    padding: 11px; 
  }

  .section-{{ section.id }} .slick-list {
    cursor: grab; 
  }

  .section-{{ section.id }} .feature-img { 
    width: 100%; 
    border-radius: 10px; 
    margin-bottom: 34px; 
  }

  .section-{{ section.id }} .feature-heading { 
    font-size: 1.75rem; 
    margin-bottom: 20px; 
  }

  .section-{{ section.id }} .feature-desc {
    color: var(--color-grey-2); 
  }

  .section-{{ section.id }} .feature-desc * { 
    line-height: 32px; 
    font-size: 1.25rem; 
  }

  #shopify-section-{{ section.id }} .arrows-row {
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 0 11px;
  opacity: 0;
  transition: opacity .3s;
  }

  #shopify-section-{{ section.id }}:has(.slick-initialized) .arrows-row {
  opacity: 1;
  }

  #shopify-section-{{ section.id }} .arrows-row .slick-arrow {
  width: 56px;
  height: 56px;
  aspect-ratio: 1;
  position: static;
  border: 1px solid #000000;
  background-color: #FFDB00;
  border-radius: 0.25rem;
  transform: unset;
  transition: background-color .3s;
  display: flex;
  }

  #shopify-section-{{ section.id }} .arrows-row .slick-arrow:not(.slick-disabled):hover {
  background-color: #000000;
  }

  #shopify-section-{{ section.id }} .arrows-row .slick-arrow:not(.slick-disabled):hover svg path {
    fill: #FFFFFF;
  }

  #shopify-section-{{ section.id }} .arrows-row .slick-arrow svg {
  width: 35%;
  height: 35%;
  aspect-ratio: 1;
  object-fit: contain;
  margin: 0 auto;
  }

  #shopify-section-{{ section.id }} .arrows-row .slick-arrow.slick-disabled {
  opacity: .3;
  pointer-events: none;
  background: none;
  }

  #shopify-section-{{ section.id }} .arrows-row .slick-arrow.slick-prev svg {
  transform: rotate(180deg);
  }

  #shopify-section-{{ section.id }} .arrows-row .slick-arrow:before {
  content: none;
  }
  
  /* Responsive */
  /* Mobile */
  @media (max-width: 767px) { 
    .section-{{ section.id }} { 
      padding: 50px 0; 
    }
    
    .section-{{ section.id }} .product-feature-list-wrapper { 
      max-width: 100%; 
      overflow-x: auto; 
    }
    
    .section-{{ section.id }} .product-feature-list { 
      gap: 30px; 
      flex-wrap: nowrap; 
    }

    .section-{{ section.id }} .feature:first-child {
      /* padding-left: 20px; */
      padding-left: 12.5px; 
    }

    .section-{{ section.id }} .feature:last-child {
      /* padding-right: 20px; */
      padding-right: 12.5px; 
    }

    .section-{{ section.id }} .feature-img { 
      width: 158px; 
      height: auto; 
      margin-bottom: 16px; 
    }

    .section-{{ section.id }} .feature-heading { 
      width: 158px; 
      max-width: 100%; 
      margin-bottom: 10px; 
      font-size: 14px; 
    }

    .section-{{ section.id }} .feature-desc * {
      font-size: 10px; 
      line-height: normal; 
    }
  #shopify-section-{{ section.id }} .arrows-row {
  margin-right: 12px;
  }
  #shopify-section-{{ section.id }} .arrows-row .slick-arrow {
  width: 42px;
  height: 42px;
  }
  }

  /* Tablet */
  @media (min-width: 768px) and (max-width: 1366px) { 
    .section-{{ section.id }} .product-feature-list { 
      gap: calc(25vw / 13.66); 
    }

    .section-{{ section.id }} .feature-heading { 
      font-size: calc(28vw / 13.66); 
    }

    .section-{{ section.id }} .feature-desc * {
      font-size: calc(20vw / 13.66); 
      line-height: normal; 
    }
  }

  /* Desktop */
  @media (min-width: 1920px) { 
    .section-{{ section.id }} .product-feature-list {
      gap: 25px; 
    }
  }
{% endstyle %}

<!-- View -->
<div class="section-{{ section.id }} product-feature-list-container">
  <div class="product-feature-list-wrapper">
    <slide-element buttons class="block custom-slide-button product-feature-list">
      {% for block in section.blocks %}
        <div class="feature feature-{{ forloop.index }}">
          {% if block.settings.feature_img != blank %}
            <img class="feature-img" width="300" height="290" alt="{{ block.settings.feature_img.alt | default: 'Feature image' }}" src="{{ block.settings.feature_img | img_url: 'master' }}" />
          {% endif %}
          {% if block.settings.feature_heading != blank %}
            <h3 class="feature-heading">{{ block.settings.feature_heading }}</h3>
          {% endif %}
          {% if block.settings.feature_desc != blank %}
            <div class="feature-desc">
              {{ block.settings.feature_desc }}
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </slide-element>
  </div>
</div>
{% schema %}
  {
    "name": "CG Product Feature List", 
    "class": "cg-product-feature-list", 
    "tag": "section", 
    "settings": [ 
      { 
        "type": "range", 
        "id": "slides_to_show", 
        "label": "Slides to show (desktop)", 
        "min": 0, 
        "max": 10, 
        "step": 0.5, 
        "default": 4
      }, 
      { 
        "type": "range", 
        "id": "slides_to_show_tablet", 
        "label": "Slides to show (tablet)", 
        "min": 0, 
        "max": 10, 
        "step": 0.5, 
        "default": 3
      }, 
      { 
        "type": "range", 
        "id": "slides_to_show_mobile", 
        "label": "Slides to show (mobile)", 
        "min": 0, 
        "max": 10, 
        "step": 0.5, 
        "default": 2.5
      }
    ], 
    "blocks": [ 
      {
        "type": "feature", 
        "name": "Feature", 
        "settings": [ 
          {
            "type": "image_picker", 
            "id": "feature_img", 
            "label": "Image"
          }, 
          {
            "type": "text", 
            "id": "feature_heading", 
            "label": "Heading", 
            "default": "Mid-Drive Motor"
          }, 
          {
            "type": "richtext", 
            "id": "feature_desc", 
            "label": "Description"
          }
        ]
      }
    ], 
    "presets": [ 
      {
        "name": "CG Product Feature List", 
        "blocks": [
          {
            "type": "feature"
          }, 
          {
            "type": "feature"
          }, 
          {
            "type": "feature"
          }, 
          {
            "type": "feature"
          }, 
          {
            "type": "feature"
          }
        ]
      }
    ]
  }
{% endschema %}