{% comment %}
  Created by CLEARgo
{% endcomment %}

<style>
#shopify-section-{{ section.id }} {
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;

    {% if section.settings.bg_color != blank %}
      background-color: {{ section.settings.bg_color }};
    {% endif %}
    {% if section.settings.bg_img != blank %}
      background-image: url({{ section.settings.bg_img | img_url: 'master' }});
    {% endif %}
  }

  #shopify-section-{{ section.id }} .parallax-pinning-card-trail {
    /*height: 150vw;*/
  }

  #shopify-section-{{ section.id }} .parallax-pinning-card-container {
    max-width: 1440px;
    position: relative;
    margin: 0 auto;
    padding: 0;
  }

  #shopify-section-{{ section.id }} .parallax-pinning-card-list {
    width: 100%;
    /*max-width: 1400px;*/
    /*height: 100vh;*/
    /*top: 0;*/
    /*left: 50%;*/
    /*position: absolute;*/
    /*transform: translate(-50%);*/
  }

  #shopify-section-{{ section.id }} .parallax-pinning-card {
    /*height: 100vh;*/
    /*position: absolute;*/
    /*opacity: 0;*/
    /* transition: opacity .3s; */

    {% comment %}
    {% if section.settings.bg_color != blank %}
      background-color: {{ section.settings.bg_color }};
    {% endif %}
    {% endcomment %}
  }

  #shopify-section-{{ section.id }} .parallax-pinning-card.active {
    opacity: 1;
  }

  #shopify-section-{{ section.id }} .parallax-pinning-card-inner {
    height: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 60px 20px 20px;
  }

  #shopify-section-{{ section.id }} .card-main {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #shopify-section-{{ section.id }} .card-heading {
    margin-bottom: calc(20vw / 19.2);
    font-size: calc(48vw / 19.2);
    line-height: normal;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;

    {% if section.settings.heading_gradiant != blank %}
      background: -webkit-{{ section.settings.heading_gradiant }};
    {% endif %}
  }

  #shopify-section-{{ section.id }} .desc-list {
    position: relative;
  }

  #shopify-section-{{ section.id }} .desc-list .desc {
    position: absolute;
  }

  #shopify-section-{{ section.id }} .desc-list .desc * {
    font-size: calc(16vw / 19.2);
    line-height: 140%;
  }

  #shopify-section-{{ section.id }} .media {
    border-radius: 16px;
  }

  #shopify-section-{{ section.id }} .card-aside {
    width: 65%;
  }

  #shopify-section-{{ section.id }} .card-img {
    aspect-ratio: 1040 / 750;
    border-radius: 16px;
    object-fit: cover;
  }

  /* Responsive */
  /* Mobile */
  @media (max-width: 767px) {
    #shopify-section-{{ section.id }} {
      background-size: cover;
    }

    #shopify-section-{{ section.id }} .parallax-pinning-card-container {
      padding: 0;
    }

    #shopify-section-{{ section.id }} .parallax-pinning-card-trail {
      /*height: 150vh;*/
    }

    #shopify-section-{{ section.id }} .parallax-pinning-card {
      /* position: relative; */
      display: flex;
      padding: 0 20px;
      /* opacity: 1; */
    }

    #shopify-section-{{ section.id }} .parallax-pinning-card-inner {
      height: fit-content;
      flex-direction: column;
      justify-content: flex-start;
      gap: 36px;
      margin: 24px 0;
      padding: 0;
    }

    #shopify-section-{{ section.id }} .card-main {
      width: 100%;
      gap: 36px;
    }

    #shopify-section-{{ section.id }} .card-heading {
      margin-bottom: 20px;
      font-size: 32px;
    }

    #shopify-section-{{ section.id }} .card-aside {
      width: 100%;
    }
  }

  /* Tablet */
  @media (min-width: 768px) and (max-width: 1366px) {
    #shopify-section-{{ section.id }} .parallax-pinning-card {
      padding: calc(144vw / 13.66) 0;
    }

    #shopify-section-{{ section.id }} .card-heading {
      margin-bottom: calc(20vw / 13.66);
      font-size: calc(48vw / 13.66);
    }

    #shopify-section-{{ section.id }} .desc * {
      font-size: calc(16vw / 13.66);
    }
  }

  /* Desktop */
  @media (min-width: 1920px) {
    #shopify-section-{{ section.id }} .card-heading {
      font-size: 48px;
    }

    #shopify-section-{{ section.id }} .desc * {
      font-size: 16px;
    }
  }

@media (min-width: 768px) {
    .parallax-pinning-card-container .parallax-pinning-card-inner .card-header {
        transform: translateY(var(--offset-ms-y));
    }
}
@media (min-width: 1440px) {
    .parallax-pinning-card-container .parallax-pinning-card-inner .card-header {
        transform: translateY(var(--offset-y));
    }
}
</style>
{%- assign ss = section.settings -%}
<!-- View -->
<div class="parallax-pinning-card-container">
  <div class="parallax-pinning-card-trail">
    <ul class="parallax-pinning-card-list">
      {% for block in section.blocks %}
        <li id="card-{{ forloop.index }}" class="parallax-pinning-card card-{{ forloop.index }} {% if forloop.first %}active{% endif %}">
          {% style %}
            /* Responsive */
            @media (max-width: 767px) { 
              #shopify-section-{{ section.id }} .card-{{ forloop.index }} .video-wrapper {
                {% if block.settings.hide_video == true %}
                  display: none; 
                {% endif %}
              }

              #shopify-section-{{ section.id }} .card-{{ forloop.index }} .card-aside {
                {% if block.settings.hide_image == true %}
                  display: none;  
                {% endif %}
              }
            }
          {% endstyle %}
          <div class="parallax-pinning-card-inner">
            <div class="card-main">
              <div class="card-header" style="--offset-y: {{ ss.offset_y }}px;--offset-ms-y: {{ ss.offset_y | divided_by: 14.4 }}vw;">
                {% if section.settings.card_heading != blank %}
                  <h2 class="card-heading">{{ section.settings.card_heading }}</h2>
                {% endif %}
                <div class="desc">
                  {{ block.settings.desc }}
                </div>
              </div>
  
              <div class="video-wrapper">
                {% if block.settings.video != blank %}
                  {{ block.settings.video | video_tag: autoplay: true, loop: true, muted: true, controls: false, outline: false, controlList: nofullscreen, class: 'media' }}
                {% endif %}
              </div>
            </div>
  
            <div class="card-aside">
              {% if section.settings.card_img != blank %}
                <img width="1040" height="750" class="card-img" src="{{ section.settings.card_img | img_url: 'master' }}" />
              {% endif %}
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% comment %}
<script>
  addEventListener("DOMContentLoaded", (event) => {
    function getOffsetTop(element) {
      const rect = element.getBoundingClientRect();
      const offsetTop = rect.top + window.scrollY;
      return offsetTop;
    }

    function getOffsetBottom(element) {
      const rect = element.getBoundingClientRect();
      const offsetTop = rect.bottom + window.scrollY;
      return offsetTop;
    }

    const section{{ section.id | remove: '-' }} = document.querySelector("#shopify-section-{{ section.id }}");
    const offset{{ section.id | remove: '-' }} = getOffsetTop(section{{ section.id | remove: '-' }});
    const offsetBottom{{ section.id | remove: '-' }} = getOffsetBottom(section{{ section.id | remove: '-' }});
    const cardList{{ section.id | remove: '-' }} = section{{ section.id | remove: '-' }}.querySelector(".parallax-pinning-card-list");
    const cards{{ section.id | remove: '-' }} = section{{ section.id | remove: '-' }}.querySelectorAll(".parallax-pinning-card-list .parallax-pinning-card");

    addEventListener("scroll", (event) => {
      if (window.innerHeight >= 1366) {
        /* Desktop */
        if(window.pageYOffset >= offset{{ section.id | remove: '-' }}) {
          cardList{{ section.id | remove: '-' }}.style.position = "fixed";
          cardList{{ section.id | remove: '-' }}.style.top = "0";
          cardList{{ section.id | remove: '-' }}.style.bottom = "unset";

          cards{{ section.id | remove: '-' }}.forEach((card, i) => {
            if(window.pageYOffset >= (offset{{ section.id | remove: '-' }} + {{ section.settings.desktop_tune }})) {
              cards{{ section.id | remove: '-' }}.forEach((card, j) => {
                cards{{ section.id | remove: '-' }}[j].classList.remove("active");
              });

              cards{{ section.id | remove: '-' }}[i].classList.add("active");

              if(window.pageYOffset >= (offset{{ section.id | remove: '-' }} + (window.innerHeight / 2 * 3) * 1.5)) {
                cardList{{ section.id | remove: '-' }}.style.position = "absolute";
                cardList{{ section.id | remove: '-' }}.style.top = "unset";
                cardList{{ section.id | remove: '-' }}.style.bottom = "0";
              }
            } else {
              if(i > 0) {
                cards{{ section.id | remove: '-' }}[i].classList.remove("active");
              }
            }
          });
        } else {
          cardList{{ section.id | remove: '-' }}.style.position = "relative";
          cardList{{ section.id | remove: '-' }}.style.top = "unset";
          cardList{{ section.id | remove: '-' }}.style.bottom = "unset";
        }
      } else if (window.innerHeight >= 768) {
        /* Tablet */
        if(window.pageYOffset >= offset{{ section.id | remove: '-' }}) {
          cardList{{ section.id | remove: '-' }}.style.position = "fixed";
          cardList{{ section.id | remove: '-' }}.style.top = "0";
          cardList{{ section.id | remove: '-' }}.style.bottom = "unset";

          cards{{ section.id | remove: '-' }}.forEach((card, i) => {
            if(window.pageYOffset >= (offset{{ section.id | remove: '-' }} + {{ section.settings.tablet_tune }})) { // (window.innerHeight / 2 * 3) * i
              cards{{ section.id | remove: '-' }}.forEach((card, j) => {
                cards{{ section.id | remove: '-' }}[j].classList.remove("active");
              });

              cards{{ section.id | remove: '-' }}[i].classList.add("active");

              if(window.pageYOffset >= (offset{{ section.id | remove: '-' }} + (window.innerHeight / 2 * 3) * 1.5)) {
                cardList{{ section.id | remove: '-' }}.style.position = "absolute";
                cardList{{ section.id | remove: '-' }}.style.top = "unset";
                cardList{{ section.id | remove: '-' }}.style.bottom = "0";
              }
            } else {
              if(i > 0) {
                cards{{ section.id | remove: '-' }}[i].classList.remove("active");
              }
            }
          });
        } else {
          cardList{{ section.id | remove: '-' }}.style.position = "relative";
          cardList{{ section.id | remove: '-' }}.style.top = "unset";
          cardList{{ section.id | remove: '-' }}.style.bottom = "unset";
        }
      } else {
        /* Mobile */
        if(window.pageYOffset >= (offset{{ section.id | remove: '-' }} + (window.innerHeight + 72))) { // (window.innerHeight + 72)
          cardList{{ section.id | remove: '-' }}.style.position = "fixed";
          cardList{{ section.id | remove: '-' }}.style.top = "0";
          cardList{{ section.id | remove: '-' }}.style.bottom = "unset";

          if(window.pageYOffset >= (offset{{ section.id | remove: '-' }} + (window.innerHeight * 1.5 + 72))) {
            cards{{ section.id | remove: '-' }}[0].classList.remove("active");
            cards{{ section.id | remove: '-' }}[1].classList.add("active");
            cardList{{ section.id | remove: '-' }}.style.position = "absolute";
            cardList{{ section.id | remove: '-' }}.style.top = "unset";
            cardList{{ section.id | remove: '-' }}.style.bottom = "0";
          } else {
            cards{{ section.id | remove: '-' }}[0].classList.add("active");
            cards{{ section.id | remove: '-' }}[1].classList.remove("active");
          }
        } else {
          cardList{{ section.id | remove: '-' }}.style.position = "relative";
          cardList{{ section.id | remove: '-' }}.style.top = "unset";
          cardList{{ section.id | remove: '-' }}.style.bottom = "unset";
        }
      }
    });
  });
</script>
{% endcomment %}
{% schema %}
  {
    "name": "CG Parallax Pinning Card", 
    "tag": "section", 
    "class": "cg-parallax-pinning-card", 
    "settings": [ 
      {
        "type": "header", 
        "content": "Card"
      }, 
      {
        "type": "color", 
        "id": "bg_color", 
        "label": "Background color", 
        "default": "#F7F7F7"
      }, 
      {
        "type": "image_picker", 
        "id": "bg_img", 
        "label": "Background image"
      }, 
      {
        "type": "text", 
        "id": "card_heading", 
        "label": "Heading", 
        "default": "Masters of All Terrains"
      }, 
      {
        "type": "color_background", 
        "id": "heading_gradiant", 
        "label": "Heading gradiant"
      }, 
      {
        "type": "image_picker", 
        "id": "card_img", 
        "label": "Image"
      },
      {
        "type": "header", 
        "content": "移動距離修正"
      },
      {
        "type": "number",
        "id": "offset_y",
        "label": "Desktop content offset y",
        "default": 0
      },
      {
        "type": "text", 
        "id": "desktop_tune", 
        "label": "Desktop", 
        "default": "(window.innerHeight / 2 * 3) * i", 
        "info": "Default: (window.innerHeight / 2 * 3) * i"
      }, 
      {
        "type": "text", 
        "id": "tablet_tune", 
        "label": "Tablet", 
        "default": "(window.innerHeight / 2) * i", 
        "info": "Default: (window.innerHeight / 2) * i"
      }, 
      {
        "type": "text", 
        "id": "mobile_tune", 
        "label": "Mobile", 
        "default": "window.innerHeight * i * 2 + window.innerHeight / 3", 
        "info": "Default: window.innerHeight * i * 2 + window.innerHeight / 3"
      }
    ], 
    "blocks": [
      {
        "type": "card_content", 
        "name": "Card content", 
        "settings": [
          {
            "type": "richtext", 
            "id": "desc", 
            "label": "Description"
          }, 
          {
            "type": "video", 
            "id": "video", 
            "label": "Video"
          },
          {
            "type": "header", 
            "content": "Mobile"
          }, 
          {
            "type": "checkbox", 
            "id": "hide_video", 
            "label": "Hide video", 
            "default": false
          }, 
          {
            "type": "checkbox", 
            "id": "hide_image", 
            "label": "Hide image", 
            "default": false
          }
        ]
      }
    ], 
    "presets": [
      {
        "name": "CG Parallax Pinning Card", 
        "blocks": []
      }
    ]
  }
{% endschema %}