{% comment %}
  Adjusted by CLEARgo
{% endcomment %}

{% style %}
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    {%- render 'section-variables', section: section -%}
    {%- if section.settings.image != blank and section.settings.image_height == 'adapt' %}
      --ratio-percent: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
    {% endif -%}
  }

  {%- assign image_mobile = section.settings.image_mobile | default: section.settings.image -%}
  {%- if image_mobile != blank and section.settings.image_height_mobile == 'adapt' %}
    @media screen and (max-width: 767px) {
      #shopify-section-{{ section.id }} {
        --ratio-percent: {{ 1 | divided_by: image_mobile.aspect_ratio | times: 100 }}%;
      }
    }
  {% endif -%}

  .section-{{ section.id }}:before { 
    content: none; 
  }

  .section-{{ section.id }} .page-width--narrow { 
    padding: 0; 
    max-width: 1600px; 
  }

  .section-{{ section.id }} .banner__box {
    max-width: 1600px; 
    height: 100%; 
    position: relative; 
    padding-block: unset; 
    padding: calc(46vw / 19.2) 0; 
  }

  .section-{{ section.id }} .banner__media .banner__image { 
    transform: unset !important; 
    transform-origin: unset !important; 
    aspect-ratio: unset !important; 
  }

  .section-{{ section.id }} .rte blockquote p.subheading { 
    margin-bottom: calc(26vw / 19.2); 
    font-size: calc(18vw / 19.2); 
    font-weight: 400; 
  }

  .section-{{ section.id }} .rte blockquote { 
    width: calc(686vw / 19.2); 
    max-width: 686px; 
  }

  .section-{{ section.id }} .rte blockquote, 
  .section-{{ section.id }} .rte blockquote p { 
    margin: 0; 
    text-align: left; 
    line-height: normal; 
    font-size: calc(64vw / 19.2); 
    font-weight: 500; 
  }

  .section-{{ section.id }} testimonials-element, 
  .section-{{ section.id }} .flickity-viewport { 
    height: 100% !important; 
  }

  .section-{{ section.id }} .testimonials .flickity-page-dots {
    left: 0; 
    bottom: calc(60vw / 19.2); 
    width: fit-content;
    position: absolute;
    flex-direction: column;
    margin-block-start: unset; 
    border-radius: 1.25rem; 
    overflow: hidden; 
  }

  .section-{{ section.id }} .testimonials .flickity-page-dot {
    width: fit-content; 
    height: fit-content; 
  }

  .section-{{ section.id }} .flickity-page-dot:before { 
    width: 2px; 
    height: 5px; 
    border-radius: 0; 
    opacity: .2; 
    transition: all .3s; 
  }

  .section-{{ section.id }} .flickity-page-dot.is-selected:before { 
    box-shadow: unset; 
    border-radius: 1.25rem; 
    background-color: var(--color-white); 
    opacity: 1; 
  }

  .section-{{ section.id }} .dot-title-list { 
    position: absolute; 
    display: flex; 
    flex-direction: column; 
    gap: calc(16vw / 19.2); 
    bottom: calc(68vw / 19.2); 
    left: calc(32vw / 19.2); 
    opacity: 0; 
    transition: opacity .3s; 
  }

  .section-{{ section.id }} .dot-title-list li { 
    font-size: calc(14vw / 19.2); 
    color: var(--color-grey); 
    transition: font-weight .3s;  
  }

  .section-{{ section.id }} .dot-title-list li.active { 
    color: var(--color-white); 
    font-weight: 600; 
  }

  .section-{{ section.id }} .flickity-button { 
    display: none; 
  }

  .section-{{ section.id }} .button-with-url { 
    margin-top: calc(68vw / 19.2); 
    padding: calc(22vw / 19.2) calc(32vw / 19.2); 
  }

  .section-{{ section.id }} .banner.media--adapt .banner__media { 
    height: unset; 
  }

  .section-{{ section.id }} .banner__overlay { 
    display: none; 
  }

  .section-{{ section.id }} .slick-dots { 
    {% if section.blocks.size == 1 %}
      display: none; 
    {% endif %}
  }

  /* Responsive */
  /* Mobile */
  @media (max-width: 767px) { 
    .section-{{ section.id }} .rte blockquote { 
      width: 100%; 
      max-width: unset; 
    }

    .section-{{ section.id }} .banner__box { 
      padding: 40px 0; 
    }
    
    .section-{{ section.id }} .rte blockquote p.subheading { 
      margin-bottom: 12px; 
      font-size: 16px; 
    }

    .section-{{ section.id }} .rte blockquote p { 
      width: 100%; 
      font-size: 36px; 
      text-align: center; 
    }

    .section-{{ section.id }} .button-with-url { 
      border-radius: 8px; 
      margin: 20px auto 0 auto; 
      padding: 24px 36px; 
    }

    .section-{{ section.id }} .testimonials .flickity-page-dots { 
      bottom: 0; 
      width: 100%;
      flex-direction: row; 
      gap: 12px; 
    }

    .section-{{ section.id }} .flickity-page-dot:before, 
    .section-{{ section.id }} .flickity-page-dot.is-selected { 
      width: 32px; 
      height: 4px; 
    }

    .section-{{ section.id }} .flickity-page-dot:before { 
      opacity: .5; 
      transition: unset; 
    }

    .section-{{ section.id }} .flickity-page-dot.is-selected {
      position: relative; 
    }

    .section-{{ section.id }} .flickity-page-dot.is-selected:after { 
      content: ''; 
      position: absolute; 
      display: block; 
      width: 100%; 
      height: 100%; 
      background-color: var(--color-grey); 
      opacity: .5; 
      z-index: 0; 
    }

    .section-{{ section.id }} .flickity-page-dot.is-selected:before { 
      left: 0; 
      width: 55%; 
      position: absolute; 
      color: var(--color-white); 
      z-index: 1; 
      animation: selectedDot 1.2s ease-in infinite alternate; 
    }

    .section-{{ section.id }} .dot-title-list { 
      display: none; 
    }
  }

  /* Tablet */
  @media (min-width: 768px) and (max-width: 1366px) { 
    .section-{{ section.id }} .banner__box { 
      padding: calc(46vw / 13.66) 20px; 
    }

    .section-{{ section.id }} .rte blockquote { 
      width: calc(686vw / 13.66); 
    }

    .section-{{ section.id }} .rte blockquote p.subheading { 
      margin-bottom: 0; 
      font-size: calc(18vw / 13.66); 
    }

    .section-{{ section.id }} .rte blockquote, 
    .section-{{ section.id }} .rte blockquote p { 
      font-size: calc(64vw / 13.66); 
    }

    .section-{{ section.id }} .testimonials .flickity-page-dots { 
      bottom: calc(60vw / 13.66); 
    }

    .section-{{ section.id }} .dot-title-list { 
      gap: calc(16vw / 13.66); 
      bottom: calc(68vw / 13.66); 
      left: calc(32vw / 13.66); 
    }

    .section-{{ section.id }} .dot-title-list li { 
      font-size: calc(14vw / 13.66); 
    }

    .section-{{ section.id }} .button-with-url { 
      margin-top: 0; 
      padding: calc(22vw / 13.66) calc(32vw / 13.66); 
    }
  }

  /* Desktop */
  @media (min-width: 1920px) { 
    .section-{{ section.id }} .banner__box { 
      padding: 46px 0; 
    }

    .section-{{ section.id }} .rte blockquote { 
      width: 686px; 
    }

    .section-{{ section.id }} .rte blockquote p.subheading { 
      margin-bottom: 26px; 
      font-size: 18px; 
    }

    .section-{{ section.id }} .rte blockquote, 
    .section-{{ section.id }} .rte blockquote p { 
      font-size: 64px; 
    }

    .section-{{ section.id }} .testimonials .flickity-page-dots {
      bottom: 60px; 
    }

    .section-{{ section.id }} .dot-title-list { 
      gap: 16px; 
      bottom: 68px; 
      left: 32px; 
    }

    .section-{{ section.id }} .dot-title-list li { 
      font-size: 14px; 
    }

    .section-{{ section.id }} .button-with-url { 
      margin-top: 68px; 
      padding: 22px 32px; 
    }
  }
{% endstyle %}

<div class="section-{{ section.id }} section section--padding{% if section.settings.divider %} section--divider{% endif %}{% if section.settings.rounded %} section--rounded relative{% endif %}"{% if section.settings.transparent_header %} allow-transparent-header{% endif %}>
  <div class="relative">
    <div class="banner media--{{ section.settings.image_height }} mobile:media--{{ section.settings.image_height_mobile }} relative">
      <media-element class="banner__media block w-full h-full overflow-hidden"{% if section.settings.enable_parallax %} data-parallax="0.3" data-parallax-dir="{{ section.settings.parallax_direction }}"{% endif %}>
        <picture class="media media--height block w-full h-full relative overflow-hidden">
          {%- if section.settings.image != blank -%}
            {%- capture sizes -%}{% if section.settings.full_width %}100vw{% else %}min({{ settings.page_width }}px, 100vw){% endif %}{%- endcapture -%}
            {%- if section.settings.image_mobile -%}
              <source
                media="(max-width: 767px)"
                srcset="{{ section.settings.image_mobile | image_url: width: '400x' }} 400w, {{ section.settings.image_mobile | image_url: width: '600x' }} 600w, {{ section.settings.image_mobile | image_url: width: '800x' }} 800w, {{ section.settings.image_mobile | image_url: width: '1000x' }} 1000w"
                width="{{ section.settings.image_mobile.width }}"
                height="{{ section.settings.image_mobile.height }}"
              >
            {%- endif -%}

            {{- section.settings.image | image_url: width: section.settings.image.width | image_tag: loading: 'lazy', sizes: sizes, widths: '300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200', is: 'lazy-image', class: 'banner__image' -}}
          {%- else -%}
            {{- 'lifestyle-1' | placeholder_svg_tag: 'banner__image banner__overlay placeholder' -}}
          {%- endif -%}
        </picture>
      </media-element>
      
      {%- if section.blocks.size > 0 -%}
        <span class="banner__overlay absolute top-0 left-0 w-full h-full pointer-events-none"></span>
        <div class="banner__content overflow-hidden absolute z-1 top-0 left-0 w-full h-full">
          <div class="page-width page-width--narrow w-full h-full flex {{ section.settings.content_position }} {{ section.settings.content_position_mobile }}">
            <div class="banner__box w-full">
              <testimonials-element class="testimonials block rte relative z-1" initial-index="{{ section.blocks.size | minus: 1 }}" watch-css>
                {%- liquid
                  assign with_gradient = false
                  if section.settings.gradient_highlight != blank and section.settings.gradient_highlight != 'rgba(0,0,0,0)'
                    assign with_gradient = true
                  endif
                -%}
                {%- for block in section.blocks -%}
                  <div class="index-{{ forloop.index }} testimonial with-{{ block.settings.icon }} flex flex-col w-full" {{ block.shopify_attributes }}>
                    <blockquote>
                      {% if block.settings.subheading != blank %}
                        <p class="subheading">{{ block.settings.subheading }}</p>
                      {% endif %}

                      <h2 class="heading">{%- render 'highlighted-text', content: block.settings.text, style: block.settings.highlighted_text, scribble: block.settings.highlighted_scribble, gradient: with_gradient -%}</h2>
                      
                      {%- if block.settings.image != blank -%}
                        <figure class="inline-block media media--{{ block.settings.image_ratio }} media--transparent relative overflow-hidden">
                          {{- block.settings.image | image_url: width: block.settings.image.width | image_tag: loading: 'lazy', widths: '54,74,104,162,208,324,416', is: 'lazy-image' -}}
                        </figure>
                      {%- endif -%}
        
                      {%- if block.settings.author != blank or block.settings.author_info != blank -%}
                        <cite>—&nbsp;
                          {%- if block.settings.author_url != blank -%}
                            <a href="{{ block.settings.author_url }}" class="reversed-link">
                          {%- endif -%}
                            {{- block.settings.author -}}
                          {%- if block.settings.author_url != blank -%}
                            </a>
                          {%- endif -%}
                          {%- if block.settings.author_info != blank -%}
                            <span class="block text-base font-normal">{{ block.settings.author_info }}</span>
                          {%- endif -%}
                        </cite>
                      {%- endif -%}
                      {% if block.settings.btn_url != blank or block.settings.btn_text != blank %}
                        <button class="button button--primary button-with-url" type="button" onclick="window.location.href='{{ block.settings.btn_url }}';">
                          <span class="btn-fill" data-fill="" style="transform: translateY(var(--motion-translateY)); --motion-translateY: 0;"></span>
                          <span class="btn-text">{{ block.settings.btn_text }}</span>
                        </button>
                      {% endif %}
                    </blockquote>
                  </div>
                {%- endfor -%}
              </testimonials-element>
              <ul class="dot-title-list">
                {%- for block in section.blocks -%}
                  <li class="index-{{ forloop.index }} dot-title">
                    {{ block.settings.dot_title }}
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% comment %}
<script>
  addEventListener("DOMContentLoaded", (event) => { 
    const flkty = new Flickity('.section-{{ section.id }} .testimonials'); 
    const dotTitleList = document.querySelector('.section-{{ section.id }} .dot-title-list'); 
    const dotTitleItems = document.querySelectorAll('.section-{{ section.id }} .dot-title-list li'); 

    flkty.on('select', function() { 
      dotTitleList.style.opacity = "1"; 
      
      /* Auto setting current title as active */
      const selectedIndex = flkty.selectedIndex;

      // Remove active class from all titles
      dotTitleItems.forEach(title => { 
        title.style.display = "none"; 
        title.classList.remove('active'); 
      }); 
      

      // Set the order for the current title
      dotTitleItems[selectedIndex].classList.add('active'); 
      dotTitleItems[selectedIndex].style.order = "1"; 
      dotTitleItems[selectedIndex].style.display = "block"; 

      // Set order for the next title, wrapping around if necessary
      if (dotTitleItems[selectedIndex + 1]) {
        dotTitleItems[selectedIndex + 1].style.order = "2"; 
        dotTitleItems[selectedIndex + 1].style.display = "block"; 
      } else {
        dotTitleItems[0].style.order = "2"; 
        dotTitleItems[0].style.display = "block"; 
      }

      // Set order for the previous title, wrapping around if necessary
      if (selectedIndex > 0) {
        dotTitleItems[selectedIndex - 1].style.order = "0"; 
        dotTitleItems[selectedIndex - 1].style.display = "block"; 
      } else {
        dotTitleItems[dotTitleItems.length - 1].style.order = "0"; 
        dotTitleItems[dotTitleItems.length - 1].style.display = "block"; 
      }
    });
  });
</script>
{% endcomment %}

{% schema %}
{
  "name": "CG Testimonials Banner", 
  "max_blocks": 4, 
  "settings": [
    {
      "type": "checkbox",
      "id": "transparent_header",
      "label": "t:sections.global.settings.transparent_header.label",
      "info": "t:sections.global.settings.transparent_header.info",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.global.settings.image.label"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "label": "t:sections.global.settings.image_height.options__1.label",
          "value": "adapt"
        },
        {
          "label": "t:sections.global.settings.image_height.options__2.label",
          "value": "400px"
        },
        {
          "label": "t:sections.global.settings.image_height.options__3.label",
          "value": "450px"
        },
        {
          "label": "t:sections.global.settings.image_height.options__4.label",
          "value": "500px"
        },
        {
          "label": "t:sections.global.settings.image_height.options__5.label",
          "value": "550px"
        },
        {
          "label": "t:sections.global.settings.image_height.options__6.label",
          "value": "600px"
        },
        {
          "label": "t:sections.global.settings.image_height.options__7.label",
          "value": "650px"
        },
        {
          "label": "t:sections.global.settings.image_height.options__8.label",
          "value": "700px"
        },
        {
          "label": "t:sections.global.settings.image_height.options__9.label",
          "value": "750px"
        },
        {
          "label": "t:sections.global.settings.image_height.options__10.label",
          "value": "850px"
        },
        {
          "label": "t:sections.global.settings.image_height.options__11.label",
          "value": "900px"
        },
        {
          "label": "t:sections.global.settings.image_height.options__12.label",
          "value": "100vh"
        }
      ],
      "default": "650px",
      "label": "t:sections.global.settings.image_height.label"
    },
    {
      "type": "select",
      "id": "content_position",
      "options": [
        {
          "value": "md:items-start md:justify-start",
          "label": "t:sections.global.settings.content_position.options__1.label"
        },
        {
          "value": "md:items-start md:justify-center",
          "label": "t:sections.global.settings.content_position.options__2.label"
        },
        {
          "value": "md:items-start md:justify-end",
          "label": "t:sections.global.settings.content_position.options__3.label"
        },
        {
          "value": "md:items-center md:justify-start",
          "label": "t:sections.global.settings.content_position.options__4.label"
        },
        {
          "value": "md:items-center md:justify-center",
          "label": "t:sections.global.settings.content_position.options__5.label"
        },
        {
          "value": "md:items-center md:justify-end",
          "label": "t:sections.global.settings.content_position.options__6.label"
        },
        {
          "value": "md:items-end md:justify-start",
          "label": "t:sections.global.settings.content_position.options__7.label"
        },
        {
          "value": "md:items-end md:justify-center",
          "label": "t:sections.global.settings.content_position.options__8.label"
        },
        {
          "value": "md:items-end md:justify-end",
          "label": "t:sections.global.settings.content_position.options__9.label"
        }
      ],
      "default": "md:items-center md:justify-center",
      "label": "t:sections.global.settings.content_position.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__mobile.content"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:sections.global.settings.image_mobile.label"
    },
    {
      "type": "select",
      "id": "image_height_mobile",
      "options": [
        {
          "label": "t:sections.global.settings.image_height_mobile.options__1.label",
          "value": "auto"
        },
        {
          "label": "t:sections.global.settings.image_height_mobile.options__2.label",
          "value": "200px"
        },
        {
          "label": "t:sections.global.settings.image_height_mobile.options__3.label",
          "value": "250px"
        },
        {
          "label": "t:sections.global.settings.image_height_mobile.options__4.label",
          "value": "300px"
        },
        {
          "label": "t:sections.global.settings.image_height_mobile.options__5.label",
          "value": "400px"
        },
        {
          "label": "t:sections.global.settings.image_height_mobile.options__6.label",
          "value": "500px"
        },
        {
          "label": "t:sections.global.settings.image_height_mobile.options__7.label",
          "value": "600px"
        },
        {
          "label": "t:sections.global.settings.image_height_mobile.options__8.label",
          "value": "100vh"
        },
        {
          "label": "t:sections.global.settings.image_height_mobile.options__9.label",
          "value": "adapt"
        }
      ],
      "default": "auto",
      "label": "t:sections.global.settings.image_height_mobile.label"
    },
    {
      "type": "select",
      "id": "content_position_mobile",
      "options": [
        {
          "value": "items-start justify-start",
          "label": "t:sections.global.settings.content_position.options__1.label"
        },
        {
          "value": "items-start justify-center",
          "label": "t:sections.global.settings.content_position.options__2.label"
        },
        {
          "value": "items-start justify-end",
          "label": "t:sections.global.settings.content_position.options__3.label"
        },
        {
          "value": "items-center justify-start",
          "label": "t:sections.global.settings.content_position.options__4.label"
        },
        {
          "value": "items-center justify-center",
          "label": "t:sections.global.settings.content_position.options__5.label"
        },
        {
          "value": "items-center justify-end",
          "label": "t:sections.global.settings.content_position.options__6.label"
        },
        {
          "value": "items-end justify-start",
          "label": "t:sections.global.settings.content_position.options__7.label"
        },
        {
          "value": "items-end justify-center",
          "label": "t:sections.global.settings.content_position.options__8.label"
        },
        {
          "value": "items-end justify-end",
          "label": "t:sections.global.settings.content_position.options__9.label"
        }
      ],
      "default": "items-center justify-center",
      "label": "t:sections.global.settings.content_position_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__colors.content",
      "info": "t:sections.global.settings.header__colors.info"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "t:sections.global.settings.color_text.label",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "color_highlight",
      "label": "t:sections.global.settings.color_highlight.label",
      "default": "#e0a580"
    },
    {
      "type": "color_background",
      "id": "gradient_highlight",
      "label": "t:sections.global.settings.gradient_highlight.label"
    },
    {
      "type": "color",
      "id": "color_overlay",
      "label": "t:sections.global.settings.color_overlay.label",
      "default": "#171717"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.global.settings.overlay_opacity.label",
      "default": 70
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__section.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_top.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_bottom.label",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:sections.global.settings.divider.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "rounded",
      "default": false,
      "label": "t:sections.global.settings.rounded.label"
    },
    {
      "type": "checkbox",
      "id": "enable_parallax",
      "label": "t:sections.global.settings.enable_parallax.label",
      "default": true
    },
    {
      "type": "select",
      "id": "parallax_direction",
      "label": "t:sections.global.settings.parallax_direction.label",
      "default": "vertical",
      "options": [
        {
          "value": "vertical",
          "label": "t:sections.global.settings.parallax_direction.options__1.label"
        },
        {
          "value": "horizontal",
          "label": "t:sections.global.settings.parallax_direction.options__2.label"
        },
        {
          "value": "zoom",
          "label": "t:sections.global.settings.parallax_direction.options__3.label"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "t:sections.testimonials.blocks.testimonial.name",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "t:sections.global.settings.icon.label",
          "default": "quote",
          "options": [
            {
              "value": "none",
              "label": "t:sections.testimonials.blocks.testimonial.settings.icon.options__1.label"
            },
            {
              "value": "quote",
              "label": "t:sections.testimonials.blocks.testimonial.settings.icon.options__2.label"
            },
            {
              "value": "5-stars",
              "label": "t:sections.testimonials.blocks.testimonial.settings.icon.options__3.label"
            },
            {
              "value": "4-stars",
              "label": "t:sections.testimonials.blocks.testimonial.settings.icon.options__4.label"
            },
            {
              "value": "3-stars",
              "label": "t:sections.testimonials.blocks.testimonial.settings.icon.options__5.label"
            },
            {
              "value": "2-stars",
              "label": "t:sections.testimonials.blocks.testimonial.settings.icon.options__6.label"
            },
            {
              "value": "1-star",
              "label": "t:sections.testimonials.blocks.testimonial.settings.icon.options__7.label"
            }
          ]
        },
        {
          "type": "text", 
          "id": "subheading", 
          "label": "Subheading", 
          "default": "Limited 3-Day Offer"
        }, 
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.global.settings.text.label",
          "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
        },
        {
          "type": "text",
          "id": "author",
          "label": "t:sections.testimonials.blocks.testimonial.settings.author.label",
          "default": "Author's name"
        },
        {
          "type": "text",
          "id": "author_info",
          "label": "t:sections.testimonials.blocks.testimonial.settings.author_info.label"
        },
        {
          "type": "url",
          "id": "author_url",
          "label": "t:sections.testimonials.blocks.testimonial.settings.author_url.label"
        },
        {
          "type": "header", 
          "content": "Button"
        }, 
        { 
          "type": "text", 
          "id": "btn_text", 
          "label": "Button text", 
          "default": "Learn More"
        }, 
        {
          "type": "url", 
          "id": "btn_url", 
          "label": "Button URL"
        }, 
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.testimonials.blocks.testimonial.settings.image.label"
        },
        {
          "type": "select",
          "id": "image_ratio",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.global.settings.image_ratio.options__1.label"
            },
            {
              "value": "square",
              "label": "t:sections.global.settings.image_ratio.options__2.label"
            },
            {
              "value": "rounded",
              "label": "t:sections.global.settings.image_ratio.options__6.label"
            }
          ],
          "default": "rounded",
          "label": "t:sections.global.settings.image_ratio.label"
        },
        {
          "type": "header",
          "content": "t:sections.global.settings.header__highlight.content",
          "info": "t:sections.global.settings.header__highlight.info"
        },
        {
          "type": "select",
          "id": "highlighted_text",
          "options": [
            {
              "value": "none",
              "label": "t:sections.global.settings.highlighted_text.options__1.label"
            },
            {
              "value": "text",
              "label": "t:sections.global.settings.highlighted_text.options__2.label"
            },
            {
              "value": "full_text",
              "label": "t:sections.global.settings.highlighted_text.options__3.label"
            },
            {
              "value": "half_text",
              "label": "t:sections.global.settings.highlighted_text.options__4.label"
            },
            {
              "value": "underline",
              "label": "t:sections.global.settings.highlighted_text.options__5.label"
            },
            {
              "value": "stencil",
              "label": "t:sections.global.settings.highlighted_text.options__6.label"
            },
            {
              "value": "scribble",
              "label": "t:sections.global.settings.highlighted_text.options__7.label"
            }
          ],
          "default": "none",
          "label": "t:sections.global.settings.highlighted_text.label"
        },
        {
          "type": "select",
          "id": "highlighted_scribble",
          "options": [
            {
              "value": "circle",
              "label": "t:sections.global.settings.highlighted_scribble.options__1.label"
            },
            {
              "value": "basic-underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__2.label"
            },
            {
              "value": "sketch-underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__3.label"
            },
            {
              "value": "squiggle-underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__4.label"
            },
            {
              "value": "squiggle-underline-2",
              "label": "t:sections.global.settings.highlighted_scribble.options__5.label"
            }
          ],
          "default": "circle",
          "label": "t:sections.global.settings.highlighted_scribble.label",
          "info": "t:sections.global.settings.highlighted_scribble.info"
        }, 
        {
          "type": "text", 
          "id": "dot_title", 
          "label": "Dot title", 
          "default": "Heybike ALPHA"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "CG Testimonials Banner",
      "blocks": [
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [
      "footer",
      "header",
      "custom.overlay"
    ]
  }
}
{% endschema %}
