{{- 'compare-table.css' | asset_url | stylesheet_tag -}}
{%- liquid
  assign section_heading = section.settings.heading
-%}
<compare-table class="compare-table section section--padding">
  <div class="row relative">
      <header class="section-header">
        {% if section_heading != blank %}
        <h1 class="section-header__title compare">{{ section_heading }}</h1>
        {% endif %}
      </header>
      <ul class="compare-table-tab">
      {% if section.blocks.size > 1 %}
        {%- for block in section.blocks -%}
          {%- assign mainloop = forloop -%}
          {% if block.settings.product_list != blank %}
            <li class="{% if mainloop.index0 == 0 %} active {% endif %} " data-index="{{ mainloop.index0 }}">
              {{ block.settings.title }}
            </li>
          {% endif %}
        {%- endfor -%}
      {% endif %}
      </ul>
  </div>

  <div class="compare-table-tab-contents row relative">
    {%- for block in section.blocks -%}
      {%- assign mainloop = forloop -%}
      {% if block.settings.product_list != blank %}
        <div
          class="tab-content-item {% if mainloop.index0 == 0 %} active {% endif %}"
          data-index="{{ mainloop.index0 }}"
        >
          <div class="fixed-content sticky-navigation">
            <div class="tab-product-detail-fixed">
              {%- for i in (1..3) -%}
                <div class="product-select  {% if i ==3  %} compare-table-mobile {% endif %}">
                  <select data-index="{{ i | minus: 1  }}">
                    {% if block.settings.product_list_group != blank%}
                    <optgroup label="{{ block.settings.product_list_group }}">
                    {% endif %}
                    {% for product in block.settings.product_list %}
                      <option
                        data-featured-image="{{product.featured_image | image_url}}"
                        data-url="{{product.url}}"
                        data-price="{{product.price | money}}"
                        value="{{product.handle}}"
                        {% if forloop.index == i %}
                          selected
                        {% endif %}
                      >
                        {{ product.title }}
                      </option>
                    {% endfor %}
                    {% if block.settings.product_list_group != blank %}
                    </optgroup>
                    {% endif %}
                    {% if block.settings.product_list_group_1 != blank %}
                    <optgroup label="{{ block.settings.product_list_group_1 }}">
                    {% endif %}
                    {% for product in block.settings.product_list_1 %}
                      <option
                        data-featured-image="{{product.featured_image | image_url}}"
                        data-url="{{product.url}}"
                        data-price="{{product.price | money}}"
                        value="{{product.handle}}"
                      >
                        {{ product.title }}
                      </option>
                    {% endfor %}
                    {% if block.settings.product_list_group_1 != blank %}
                    </optgroup>
                    {% endif %}
                    
                    {% if block.settings.product_list_group_2 != blank %}
                    <optgroup label="{{ block.settings.product_list_group_2 }}">
                    {% endif %}
                    {% for product in block.settings.product_list_2 %}
                      <option
                        data-featured-image="{{product.featured_image | image_url}}"
                        data-url="{{product.url}}"
                        data-price="{{product.price | money}}"
                        value="{{product.handle}}"
                      >
                        {{ product.title }}
                      </option>
                    {% endfor %}
                    {% if block.settings.product_list_group_2 != blank %}
                    </optgroup>
                    {% endif %}
                    
                    {% if block.settings.product_list_group_3 != blank %}
                    <optgroup label="{{ block.settings.product_list_group_3 }}">
                    {% endif %}
                    {% for product in block.settings.product_list_3 %}
                      <option
                        data-featured-image="{{product.featured_image | image_url}}"
                        data-url="{{product.url}}"
                        data-price="{{product.price | money}}"
                        value="{{product.handle}}"
                      >
                        {{ product.title }}
                      </option>
                    {% endfor %}
                    {% if block.settings.product_list_group_3 != blank %}
                    </optgroup>
                    {% endif %}
                    
                    {% if block.settings.product_list_group_4 != blank %}
                    <optgroup label="{{ block.settings.product_list_group_4 }}">
                    {% endif %}
                    {% for product in block.settings.product_list_4 %}
                      <option
                        data-featured-image="{{product.featured_image | image_url}}"
                        data-url="{{product.url}}"
                        data-price="{{product.price | money}}"
                        value="{{product.handle}}"
                      >
                        {{ product.title }}
                      </option>
                    {% endfor %}
                    {% if block.settings.product_list_group_4 != blank %}
                    </optgroup>
                    {% endif %}
                    
                    {% if block.settings.product_list_group_5 != blank%}
                    <optgroup label="{{ block.settings.product_list_group_5 }}">
                    {% endif %}
                    {% for product in block.settings.product_list_5 %}
                      <option
                        data-featured-image="{{product.featured_image | image_url}}"
                        data-url="{{product.url}}"
                        data-price="{{product.price | money}}"
                        value="{{product.handle}}"
                      >
                        {{ product.title }}
                      </option>
                    {% endfor %}
                    {% if block.settings.product_list_group_5 != blank%}
                    </optgroup>
                    {% endif %}
                    
                    {% if block.settings.product_list_group_6 != blank %}
                    <optgroup label="{{ block.settings.product_list_group_6 }}">
                    {% endif %}
                    {% for product in block.settings.product_list_6 %}
                      <option
                        data-featured-image="{{product.featured_image | image_url}}"
                        data-url="{{product.url}}"
                        data-price="{{product.price | money}}"
                        value="{{product.handle}}"
                      >
                        {{ product.title }}
                      </option>
                    {% endfor %}
                    {% if block.settings.product_list_group_6 != blank %}
                    </optgroup>
                    {% endif %}
                    
                    {% if block.settings.product_list_group_7 != blank%}
                    <optgroup label="{{ block.settings.product_list_group_7 }}">
                    {% endif %}
                    {% for product in block.settings.product_list_7 %}
                      <option
                        data-featured-image="{{product.featured_image | image_url}}"
                        data-url="{{product.url}}"
                        data-price="{{product.price | money}}"
                        value="{{product.handle}}"
                      >
                        {{ product.title }}
                      </option>
                    {% endfor %}
                    {% if block.settings.product_list_group_7 != blank%}
                    </optgroup>
                    {% endif %}
                  </select>
                  <label>Model</label>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class="small-12 tab-product-details">
            {%- for i in (1..3) -%}
              <div class="tab-product-detail {% if i ==3  %} compare-table-mobile {% endif %}">
                <div>
                  <div class="product-select mb16">
                  <select data-index="{{ i | minus: 1  }}">
                     {% if block.settings.product_list_group != blank%}
                    <optgroup label="{{ block.settings.product_list_group }}">
                    {% endif %}
                    {% for product in block.settings.product_list %}
                      <option
                        data-featured-image="{{product.featured_image | image_url}}"
                        data-url="{{product.url}}"
                        data-price="{{product.price | money}}"
                        value="{{product.handle}}"
                        {% if forloop.index == i %}
                          selected
                        {% endif %}
                      >
                        {{ product.title }}
                      </option>
                    {% endfor %}
                    {% if block.settings.product_list_group != blank %}
                    </optgroup>
                    {% endif %}
                    {% if block.settings.product_list_group_1 != blank %}
                    <optgroup label="{{ block.settings.product_list_group_1 }}">
                    {% endif %}
                    {% for product in block.settings.product_list_1 %}
                      <option
                        data-featured-image="{{product.featured_image | image_url}}"
                        data-url="{{product.url}}"
                        data-price="{{product.price | money}}"
                        value="{{product.handle}}"
                      >
                        {{ product.title }}
                      </option>
                    {% endfor %}
                    {% if block.settings.product_list_group_1 != blank %}
                    </optgroup>
                    {% endif %}
                    
                    {% if block.settings.product_list_group_2 != blank %}
                    <optgroup label="{{ block.settings.product_list_group_2 }}">
                    {% endif %}
                    {% for product in block.settings.product_list_2 %}
                      <option
                        data-featured-image="{{product.featured_image | image_url}}"
                        data-url="{{product.url}}"
                        data-price="{{product.price | money}}"
                        value="{{product.handle}}"
                      >
                        {{ product.title }}
                      </option>
                    {% endfor %}
                    {% if block.settings.product_list_group_2 != blank %}
                    </optgroup>
                    {% endif %}
                    
                    {% if block.settings.product_list_group_3 != blank %}
                    <optgroup label="{{ block.settings.product_list_group_3 }}">
                    {% endif %}
                    {% for product in block.settings.product_list_3 %}
                      <option
                        data-featured-image="{{product.featured_image | image_url}}"
                        data-url="{{product.url}}"
                        data-price="{{product.price | money}}"
                        value="{{product.handle}}"
                      >
                        {{ product.title }}
                      </option>
                    {% endfor %}
                    {% if block.settings.product_list_group_3 != blank %}
                    </optgroup>
                    {% endif %}
                    
                    {% if block.settings.product_list_group_4 != blank %}
                    <optgroup label="{{ block.settings.product_list_group_4 }}">
                    {% endif %}
                    {% for product in block.settings.product_list_4 %}
                      <option
                        data-featured-image="{{product.featured_image | image_url}}"
                        data-url="{{product.url}}"
                        data-price="{{product.price | money}}"
                        value="{{product.handle}}"
                      >
                        {{ product.title }}
                      </option>
                    {% endfor %}
                    {% if block.settings.product_list_group_4 != blank %}
                    </optgroup>
                    {% endif %}
                    
                    {% if block.settings.product_list_group_5 != blank%}
                    <optgroup label="{{ block.settings.product_list_group_5 }}">
                    {% endif %}
                    {% for product in block.settings.product_list_5 %}
                      <option
                        data-featured-image="{{product.featured_image | image_url}}"
                        data-url="{{product.url}}"
                        data-price="{{product.price | money}}"
                        value="{{product.handle}}"
                      >
                        {{ product.title }}
                      </option>
                    {% endfor %}
                    {% if block.settings.product_list_group_5 != blank%}
                    </optgroup>
                    {% endif %}
                    
                    {% if block.settings.product_list_group_6 != blank %}
                    <optgroup label="{{ block.settings.product_list_group_6 }}">
                    {% endif %}
                    {% for product in block.settings.product_list_6 %}
                      <option
                        data-featured-image="{{product.featured_image | image_url}}"
                        data-url="{{product.url}}"
                        data-price="{{product.price | money}}"
                        value="{{product.handle}}"
                      >
                        {{ product.title }}
                      </option>
                    {% endfor %}
                    {% if block.settings.product_list_group_6 != blank %}
                    </optgroup>
                    {% endif %}
                    
                    {% if block.settings.product_list_group_7 != blank%}
                    <optgroup label="{{ block.settings.product_list_group_7 }}">
                    {% endif %}
                    {% for product in block.settings.product_list_7 %}
                      <option
                        data-featured-image="{{product.featured_image | image_url}}"
                        data-url="{{product.url}}"
                        data-price="{{product.price | money}}"
                        value="{{product.handle}}"
                      >
                        {{ product.title }}
                      </option>
                    {% endfor %}
                    {% if block.settings.product_list_group_7 != blank%}
                    </optgroup>
                    {% endif %}
                  </select>
                  <label>Model</label>
                </div>
                <div class="product-image mb16">
                  <img
                    class="lazyload"
                    width="258px"
                    height="173px"
                    data-sizes="auto"
                    src="#"
                    style="object-position: {{ focal_point }};"
                  >
                </div>
                <div class="product-name"></div>
                <div class="product-price"></div>
                </div>
                <div>
                  <div class="product-shop mb16">
                   <a class="button   button--primary  icon-with-text" quick-controls="Quickview-" aria-expanded="false"  is="hover-link">
                      <span class="btn-fill" data-fill></span>
                      <span class="btn-text">
                        {%- liquid
                          echo 'Quick Shop'
                          render 'icon', icon: 'arrow-right', size: 'sm', class: 'transform'
                        -%}
                      </span>
                    </a>
                  </div>
                  <div class="product-more">
                    <a href="#" role="link" class="text-button text-button--has-icon">
                       {{ section.settings.info_btn_text }}
                    </a>
                  </div>
                </div>
              </div>
            {%- endfor -%}
            {% for i in (1..8) %}
              {% assign num =  i | minus: 1%}
              {% if num == 0 %}
                {% assign product_list = 'product_list' %}
              {% else %}
                {% assign product_list = 'product_list_' | append: num %}
              {% endif %}
                
              {% for product in block.settings[product_list] %}
                <script type="application/json" id="specification-{{ product.handle }}">
                  {{product.metafields.custom.specification_list  }}
                </script>
                <quick-view id="Quickview-{{ product.handle }}" class="quick-view x-modal drawer z-30 fixed bottom-0 left-0 h-full w-full pointer-events-none" data-product-url="{{ product.url }}" role="dialog" aria-label="{{ 'products.product.choose_product_options' | t: product_name: product.title | escape }}" aria-modal="true">
                  <overlay-element class="overlay fixed-modal invisible opacity-0 fixed bottom-0 left-0 w-full h-screen pointer-events-none" aria-controls="Quickview-{{product.handle}}" aria-expanded="false"></overlay-element>
                  <div class="drawer__inner z-10 absolute top-0 flex flex-col w-full h-full overflow-hidden">
                    <gesture-element class="drawer__header flex items-center justify-between opacity-0 invisible relative">
                      <button class="button button--secondary button--close drawer__close z-1 absolute top-0 right-0 flex items-center justify-center opacity-0" type="button" is="hover-button" aria-controls="Quickview-{{product.handle}}" aria-expanded="false" aria-label="{{ 'general.accessibility.close' | t | escape }}">
                        <span class="btn-fill" data-fill></span>
                        <span class="btn-text">
                          {%- render 'icon', icon: 'close', size: 'sm' -%}
                        </span>
                      </button>
                    </gesture-element>
                    <div class="quick-view__content drawer__content opacity-0 invisible flex flex-col h-full grow shrink"></div>
                  </div>
                </quick-view>
                
                <script type="application/template" id="colors-{{ product.handle }}">
               {%- for option in product.options_with_values -%}
               {%- liquid
                  
                assign option_idx0 = forloop.index0
                assign is_color = false
                  assign swatch_file_extension = 'png'
                  assign swatch_trigger = 'products.general.color_swatch_trigger' | t | downcase
                  assign downcased_option = option.name | downcase
                  if downcased_option contains swatch_trigger
                    assign is_color = true
                  elsif swatch_trigger == 'color' and downcased_option contains 'colour'
                    assign is_color = true
                  endif -%}
                 {%- if is_color -%}
                <ul class="swatches swatches--round flex items-center justify-center flex-wrap gap-2 swatchs-color">
  						{%- for value in option.values -%}
  							<li>
  								<magnet-element class="block">
  									<input
  										type="radio"
  										class="sr-only"
  										id="{{ product.handle }}-{{ option.name | handle }}-{{ forloop.index0 }}"
  										name="{{ product.handle }}-{{ option.name }}"
  										value="{{ value | escape }}"
  										{% if option.selected_value == value %}checked{% endif %}
  										data-option-value="{{ value | escape }}"
  									/>
  									
  										{%- liquid
  											assign file_extension = swatch_file_extension | default: 'png'
  											assign file_name = value | handle | append: '.' | append: file_extension
  											assign swatch_fallback = value | split: ' ' | last | handle
  
  											assign value_downcase = value | downcase
  											assign swatch_config = settings.swatch_config | newline_to_br | split: '<br />'
  											for swatch in swatch_config
  												assign swatch_parts = swatch | strip | split: ':'
  												assign swatch_name = swatch_parts.first | downcase | strip
  
  												if swatch_name == value_downcase
  													assign swatch_value = swatch_parts.last | strip
  													if swatch_value contains '#'
  														assign swatch_fallback = swatch_value
  													else
  														assign file_name = swatch_value
  													endif
  													break
  												endif
  											endfor
                                              assign swatch_image = blank
                        											if images[file_name] != blank
                        												assign swatch_image = images[file_name] | image_url: width: 72
                                              elsif file_name contains '//cdn.shopify.com/'
                                                assign swatch_image = file_name
                        											endif
                        
                                              for variant in product.variants
                                                assign variant_value = variant.options[option_idx0]
                                                if variant_value contains value and variant.image
                                                  assign swatch_image = variant.image | image_url: width: 144
                                                  break
                                                endif
                                              endfor
  										-%}
  										<label
  											for="{{ product.handle }}-{{ option.name | handle }}-{{ forloop.index0 }}"
  											class="color-swatch relative"
  											title="{{ value | escape }}"
                                            data-featured-image="{{swatch_image | image_url}}"
  											style="--swatch-background: {{ swatch_fallback }};"
  										>
  											<span class="tooltip opacity-0 pointer-events-none text-sm rounded-full z-10">{{ value | escape }}</span>
  										</label>
  								</magnet-element>
  							</li>
  						{%- endfor -%}
  					</ul>
                      {%- endif -%}
                  {%- endfor -%}
                </script>
                <script type="application/template" id="colors-bottom-{{ product.handle }}">
               {%- for option in product.options_with_values -%}
               {%- liquid
                  
                assign option_idx0 = forloop.index0
                assign is_color = false
                  assign swatch_file_extension = 'png'
                  assign swatch_trigger = 'products.general.color_swatch_trigger' | t | downcase
                  assign downcased_option = option.name | downcase
                  if downcased_option contains swatch_trigger
                    assign is_color = true
                  elsif swatch_trigger == 'color' and downcased_option contains 'colour'
                    assign is_color = true
                  endif -%}
                 {%- if is_color -%}
                <ul class="swatches swatches--round flex items-center justify-center flex-wrap gap-2 swatchs-color">
  						{%- for value in option.values -%}
  							<li>
  								<magnet-element class="block">
  									<input
  										type="radio"
  										class="sr-only"
  										id="{{ product.handle }}-{{ option.name | handle }}-bottom-{{ forloop.index0 }}"
  										name="{{ product.handle }}-{{ option.name }}-bottom"
  										value="{{ value | escape }}"
  										{% if option.selected_value == value %}checked{% endif %}
  										data-option-value="{{ value | escape }}"
  									/>
  									
  										{%- liquid
  											assign file_extension = swatch_file_extension | default: 'png'
  											assign file_name = value | handle | append: '.' | append: file_extension
  											assign swatch_fallback = value | split: ' ' | last | handle
  
  											assign value_downcase = value | downcase
  											assign swatch_config = settings.swatch_config | newline_to_br | split: '<br />'
  											for swatch in swatch_config
  												assign swatch_parts = swatch | strip | split: ':'
  												assign swatch_name = swatch_parts.first | downcase | strip
  
  												if swatch_name == value_downcase
  													assign swatch_value = swatch_parts.last | strip
  													if swatch_value contains '#'
  														assign swatch_fallback = swatch_value
  													else
  														assign file_name = swatch_value
  													endif
  													break
  												endif
  											endfor
                                              assign swatch_image = blank
                        											if images[file_name] != blank
                        												assign swatch_image = images[file_name] | image_url: width: 72
                                              elsif file_name contains '//cdn.shopify.com/'
                                                assign swatch_image = file_name
                        											endif
                        
                                                for variant in product.variants
                                                  assign variant_value = variant.options[option_idx0]
                                                  if variant_value contains value and variant.image
                                                    assign swatch_image = variant.image | image_url: width: 144
                                                    break
                                                  endif
                                                endfor
  										-%}
  										<label
  											for="{{ product.handle }}-{{ option.name | handle }}-bottom-{{ forloop.index0 }}"
  											class="color-swatch relative"
  											title="{{ value | escape }}"
                                            data-featured-image="{{swatch_image | image_url}}"
  											style="--swatch-background: {{ swatch_fallback }};"
  										>
  											<span class="tooltip opacity-0 pointer-events-none text-sm rounded-full z-10">{{ value | escape }}</span>
  										</label>
  								</magnet-element>
  							</li>
  						{%- endfor -%}
  					</ul>
                      {%- endif -%}
                  {%- endfor -%}
                </script>
              {% endfor %}
            {% endfor %}
          </div>
          <div class="small-12 tab-item-details">
            {%- for i in (1..12) -%}
              {%- assign product_parameter = 'product_parameter_' | append: i -%}
              {%- if block.settings[product_parameter] != blank -%}
                <div class="tab-item-detail" parameter-name="{{ block.settings[product_parameter] | downcase }}">
                  <div class="tab-item-detail-title">
                    <span class="title">{{ block.settings[product_parameter] }}</span>
                    <span class="border"></span>
                  </div>
                  <div class="tab-item-detail-content">
                    {%- for i in (1..3) -%}
                      <div class="tab-item-detail-content-inner  {% if i ==3  %} compare-table-mobile {% endif %}">
                        <ul class="detail-inner-title"></ul>
                      </div>
                    {%- endfor -%}
                  </div>
                </div>
              {%- endif -%}
            {%- endfor -%}
            <div class="tab-item-product-detail">
              {%- for i in (1..3) -%}
                <div class="tab-product-detail{% if i ==3  %} compare-table-mobile {% endif %}">
                  <div>
                    <div class="product-image mb16">
                      <img
                        class="lazyload"
                        width="258px"
                        height="173px"
                        data-sizes="auto"
                        src="#"
                        style="object-position: {{ focal_point }};"
                      >
                    </div>
                    <div class="product-name"></div>
                    <div class="product-price"></div>
                  </div>
                  <div>
                    <div class="product-shop mb16">
                      <a class="button   button--primary  icon-with-text" quick-controls="Quickview-" aria-expanded="false"  is="hover-link">
                        <span class="btn-fill" data-fill></span>
                        <span class="btn-text">
                          {%- liquid
                            echo 'Quick Shop'
                            render 'icon', icon: 'arrow-right', size: 'sm', class: 'transform'
                          -%}
                        </span>
                      </a>
                    </div>
                    <div class="product-more">
                      <a href="#" role="link" class="text-button text-button--has-icon">
                        {{ section.settings.info_btn_text }}
                      </a>
                    </div>
                  </div>
                </div>
              {%- endfor -%}
            </div>
          </div>
        </div>
      {% endif %}
    {%- endfor -%}
  </div>
</compare-table>
{% schema %}
{
  "name": "Compare Table",
  "settings": [ {
    "type": "text",
    "id": "heading",
    "label": "Heading",
    "default": "Compare Table"
  },
  {
    "type": "text",
    "id": "info_btn_text",
    "label": "Info button",
    "default": "View Product"
  }],
  "blocks": [{
      "type": "collection",
      "name": "Collection",
      "settings":[{
          "type": "text",
          "id": "title",
          "label": "Tab Title",
          "default": "Title"
        },
        {
          "type": "text",
          "id": "product_list_group",
          "label": "Products group name"
        },
        {
          "type": "product_list",
          "id": "product_list",
          "label": "Products"
        },
        {
          "type": "text",
          "id": "product_list_group_1",
          "label": "Products group name 1"
        },
        {
          "type": "product_list",
          "id": "product_list_1",
          "label": "Products 1"
        },
        {
          "type": "text",
          "id": "product_list_group_2",
          "label": "Products group name 2"
        },
        {
          "type": "product_list",
          "id": "product_list_2",
          "label": "Products 2"
        },
        {
          "type": "text",
          "id": "product_list_group_3",
          "label": "Products group name 3"
        },
        {
          "type": "product_list",
          "id": "product_list_3",
          "label": "Products 3"
        },
        {
          "type": "text",
          "id": "product_list_group_4",
          "label": "Products group name 4"
        },
        {
          "type": "product_list",
          "id": "product_list_4",
          "label": "Products 4"
        },
        {
          "type": "text",
          "id": "product_list_group_5",
          "label": "Products group name 5"
        },
        {
          "type": "product_list",
          "id": "product_list_5",
          "label": "Products 5"
        },
        {
          "type": "text",
          "id": "product_list_group_6",
          "label": "Products group name 6"
        },
        {
          "type": "product_list",
          "id": "product_list_6",
          "label": "Products 6"
        },
        {
          "type": "text",
          "id": "product_list_group_7",
          "label": "Products group name 7"
        },
        {
          "type": "product_list",
          "id": "product_list_7",
          "label": "Products 7"
        },
        {
          "type": "text",
          "id": "product_parameter_1",
          "label": "Parameter classification 1"
        },
        {
          "type": "text",
          "id": "product_parameter_2",
          "label": "Parameter classification 2"
        },
        {
          "type": "text",
          "id": "product_parameter_3",
          "label": "Parameter classification 3"
        },
        {
          "type": "text",
          "id": "product_parameter_4",
          "label": "Parameter classification 4"
        },
        {
          "type": "text",
          "id": "product_parameter_5",
          "label": "Parameter classification 5"
        },
        {
          "type": "text",
          "id": "product_parameter_6",
          "label": "Parameter classification 6"
        },
        {
          "type": "text",
          "id": "product_parameter_7",
          "label": "Parameter classification 7"
        },
        {
          "type": "text",
          "id": "product_parameter_8",
          "label": "Parameter classification 8"
        },
        {
          "type": "text",
          "id": "product_parameter_9",
          "label": "Parameter classification 9"
        },
        {
          "type": "text",
          "id": "product_parameter_10",
          "label": "Parameter classification 10"
        },
        {
          "type": "text",
          "id": "product_parameter_11",
          "label": "Parameter classification 11"
        },
        {
          "type": "text",
          "id": "product_parameter_12",
          "label": "Parameter classification 12"
        }
      ]
   }],
  "presets": [
    {
      "name": "Compare Table",
      "blocks": [
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
