{%- liquid
    assign ss = section.settings
    assign cid = section.id | split: '__' | last
-%}
<style>
    .{{ cid }} {
        padding: 80px 0;
        background: #FFFFFF;
    }

    .{{ cid }} .slide-tabs {
        padding-bottom: 24px;
    }

    .{{ cid }} .slide-tabs .button-incline {
        --button-height: 53px;
        --button-size: {{ ss.pc_tab_size }}px;
        --button-color: {{ ss.tab_color }};
        --button-weight: {{ ss.tab_weight }};
        --button-background-color: {{ ss.tab_bg_color }};
        transition: color 0.3s;
    }
    .{{ cid }} .slide-tabs .incline-text {
        min-width: 280px;
    }
    .{{ cid }} .slide-tabs .button-incline.active {
        --button-color: {{ ss.tab_active_color }};
        --button-weight: {{ ss.tab_active_weight }};
        --button-background-color: {{ ss.tab_active_bg_color }};
    }

    .{{ cid }} .slide-tabs .button-incline:not(.active):hover {
        --button-color: {{ ss.tab_hover_color }};
    }

    .{{ cid }} .media-box {
        display: none;
    }

    .{{ cid }} .media-box.active {
        display: block;
    }

    .{{ cid }} .intro {
        padding-bottom: 50px;
        font-size: {{ ss.pc_slide_text_size }}px;
        line-height: 1.7;
        color: {{ ss.slide_text_color }};
        max-width: 70%;
        margin: 0 auto;
    }

    .{{ cid }} .intro strong {
        font-weight: bold;
        color: {{ ss.slide_bold_text_color }};
    }

    .{{ cid }} .image {
        width: 100%;
        aspect-ratio: {% if ss.image_ratio != blank %}{{ ss.image_ratio }}{% else %}var(--desktop-aspect-ratio, 2.4){% endif %};
    }

    @media screen and (max-width: 1023px) {
        .{{ cid }} {
            padding: 2.5rem 0;
        }

        .{{ cid }} .slide-tabs {
            padding-bottom: 1rem;
            justify-content: flex-start !important;
            overflow-x: auto;
            white-space: nowrap;
        }

        .{{ cid }} .slide-tabs .button-incline {
            --button-height: 36px;
            --button-size: {{ ss.mb_tab_size }}px;
        }

        .{{ cid }} .slide-tabs .incline-text {
            min-width: 8.5rem;
        }

        .{{ cid }} .intro {
            padding-bottom: 1.5625rem;
            font-size: {{ ss.mb_slide_text_size }}px;
            line-height: 1.5;
            max-width: 100%;
        }

        .{{ cid }} .image {
            aspect-ratio: {% if ss.mb_image_ratio != blank %}{{ ss.mb_image_ratio }}{% else %}var(--mobile-aspect-ratio, 0.8){% endif %};
        }
    }

    {% render 'page-wrap-style' %}
</style>
<div class="{{ cid }} section--page w-full" id="{{ section.id }}-slide">
    {%- render 'section-title', info: ss -%}
    <div class="w-full page-width">
        {%- if section.blocks.size > 1 -%}
            <div class="slide-tabs hide-scroll-bar flex-{{ ss.tab_display_position }}">
                {%- for block in section.blocks -%}
                    {%- assign bs = block.settings -%}
                    <button
                        data-proxy="tab"
                        node-name="tab"
                        data-index="{{ forloop.index0 }}"
                        class="button-incline flex-center relative {% if forloop.first %}active{% endif %}">
                            <span class="incline-text relative">{{ bs.title }}</span>
                    </button>
                {%- endfor -%}
            </div>
        {%- endif -%}
    </div>
    <div class="w-full{% unless ss.image_fill %} page-width{% endunless %}">
        {%- for block in section.blocks -%}
            {%- assign bs = block.settings -%}
            <animate-element
                node-name="panel"
                data-repeat
                class="media-box w-full{% if forloop.first %} active{% endif %}">
                {%- if bs.show_text -%}
                    <div class="intro text-center">
                        {{ bs.text }}
                    </div>
                {%- endif -%}
                {%- render 'global-image',
                    desktop_img: bs.pc_image,
                    mobile_img: bs.mb_image,
                    show_size: true
                -%}
            </animate-element>
        {%- endfor -%}
    </div>
</div>
{%- if section.blocks.size > 1 -%}
    <script>
        $heybike.tabSwitch({root: document.getElementById('{{ section.id }}-slide'), device: 'mobile'});
    </script>
{%- endif -%}
{% schema %}
{
  "name": "MC Image Fill Slide",
  "class": "mc--main",
  "tag": "section",
  "presets": [
    {
      "name": "MC Image Fill Slide"
    }
  ],
  "settings": [
    {
      "type": "color",
      "id": "page_color",
      "label": "Background Color"
    },
    {
      "type": "number",
      "id": "page_top",
      "label": "Padding Top"
    },
    {
      "type": "number",
      "id": "page_bottom",
      "label": "padding Bottom"
    },
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "Show Title",
      "default": false
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "select",
      "id": "title_style",
      "label": "Title font style",
      "options": [
        {
          "label": "Normal",
          "value": "normal"
        },
        {
          "label": "italic",
          "value": "italic"
        }
      ],
      "default": "normal"
    },
    {
      "type": "range",
      "id": "title_pc_size",
      "label": "Desktop title size",
      "min": 12,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 48
    },
    {
      "type": "range",
      "id": "title_mb_size",
      "label": "Mobile title size",
      "min": 6,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 24
    },
    {
      "type": "number",
      "id": "title_margin_bottom",
      "label": "Title margin bottom",
      "default": 16
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "title_bold_color",
      "label": "Title Bold color",
      "default": "#000000"
    },
    {
      "type": "color_background",
      "id": "title_gradient_color",
      "label": "Title gradient color"
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "Show description",
      "default": false
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "color",
      "id": "description_color",
      "label": "Description color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "description_pc_size",
      "label": "Desktop description size",
      "min": 12,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 18
    },
    {
      "type": "range",
      "id": "description_mb_size",
      "label": "Mobile description size",
      "min": 6,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 14
    },
    {
      "type": "number",
      "id": "description_pc_margin_bottom",
      "label": "Desktop description margin bottom",
      "default": 40
    },
    {
      "type": "number",
      "id": "description_mb_margin_bottom",
      "label": "Mobile description margin bottom",
      "default": 30
    },
    {
      "type": "header",
      "content": "Slide tab"
    },
    {
      "type": "text_alignment",
      "id": "tab_display_position",
      "label": "Tab display position",
      "default": "left"
    },
    {
      "type": "range",
      "id": "pc_tab_size",
      "label": "Desktop tab text size",
      "min": 12,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 16
    },
    {
      "type": "range",
      "id": "mb_tab_size",
      "label": "Mobile tab text size",
      "min": 6,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 10
    },
    {
      "type": "range",
      "id": "tab_weight",
      "label": "Tab text weight",
      "min": 200,
      "max": 900,
      "step": 100,
      "unit": "w",
      "default": 400
    },
    {
      "type": "range",
      "id": "tab_active_weight",
      "label": "Tab active text weight",
      "min": 200,
      "max": 900,
      "step": 100,
      "unit": "w",
      "default": 500
    },
    {
      "type": "color",
      "id": "tab_color",
      "label": "Tab text color",
      "default": "#a9a9a9"
    },
    {
      "type": "color",
      "id": "tab_hover_color",
      "label": "Tab hover text color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "tab_active_color",
      "label": "Tab active text color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "tab_bg_color",
      "label": "Tab background color",
      "default": "#313131"
    },
    {
      "type": "color",
      "id": "tab_active_bg_color",
      "label": "Tab active background color",
      "default": "#f8e737"
    },
    {
      "type": "header",
      "content": "Slide box"
    },
    {
      "type": "checkbox",
      "id": "image_fill",
      "label": "Image fill",
      "default": false
    },
    {
      "type": "text",
      "id": "image_ratio",
      "label": "Desktop slide image ratio(w/h)"
    },
    {
      "type": "text",
      "id": "mb_image_ratio",
      "label": "Mobile slide image ratio(w/h)"
    },
    {
      "type": "range",
      "id": "pc_slide_text_size",
      "label": "Desktop slide text size",
      "min": 12,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 16
    },
    {
      "type": "range",
      "id": "mb_slide_text_size",
      "label": "Mobile slide text size",
      "min": 6,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 12
    },
    {
      "type": "color",
      "id": "slide_text_color",
      "label": "Slide text color",
      "default": "#a9a9a9"
    },
    {
      "type": "color",
      "id": "slide_bold_text_color",
      "label": "Slide bold text color",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide box",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Tab title"
        },
        {
          "type": "checkbox",
          "id": "show_text",
          "label": "Show text"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "image_picker",
          "id": "pc_image",
          "label": "Desktop image"
        },
        {
          "type": "image_picker",
          "id": "mb_image",
          "label": "Mobile image"
        }
      ]
    }
  ]
}
{% endschema %}
